.calc {
  &__inner {
    padding-top: 100px;
  }

  &__subtitle {
    margin-bottom: 82px;
  }

  &__client-symptom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__client,
  &__symptom {
    &-title {
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      color: #007755;
      margin-bottom: 36px;
    }
  }





  &__client-oral {
    &-outer {
      position: relative;
    }

    &-span {
      width: 28px;
      height: 28px;
      position: absolute;
      border-radius: 50%;
      background-color: var(--green);
      opacity: 0;
      cursor: pointer;
      transition: .3s linear;

      &:hover {
        opacity: .4;
      }

      &.active {
        opacity: 1;
      }
    }
  }









  &__client {
    &-tab {
      &-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-btn {
        &-outer {
          display: flex;
          align-items: center;
          gap: 60px;
          margin-bottom: 70px;
        }

        color: rgba(#585858, .5);
        padding: 11px 19px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        border-radius: 7px;
        border: unset;
        transition: .3s linear;

        &:hover,
        &.active {
          background: #00C58A;
          color: #fff;
        }
      }

      &-content {
        position: relative;
        display: none;

        &.active {
          display: block;
          animation: show .7s;
        }
      }
    }
  }

  &__symptom {
    &-form {
      &.disable {
        pointer-events: none;
      }
      display: flex;
      flex-direction: column;
      gap: 30px;

      &-outer {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 792px;
        padding-left: 32px;
        padding-bottom: 44px;
        padding-right: 0;
        padding-top: 11px;

        &:before {
          z-index: -1;
          background: #EBEBEB;
          border-bottom-left-radius: 50px;
          width: 3000px;
          height: 100%;
          left: 0;
          top: 0;
          content: '';
          position: absolute;
        }
      }
    }

    &-clean {
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-bottom: 6px;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: rgba(#666666, .5);
      border: unset;
      background: unset;
      padding: 0;
      transition: .3s linear;
      text-decoration: underline transparent;

      &:hover {
        text-decoration: underline rgba(#666666, .5);
      }
    }

    &-label {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #585858;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 60px;
      cursor: pointer;
    }

    &-checkbox {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      &-span {
        margin-left: -60px;
        width: 30px;
        height: 30px;
        position: absolute;
        border: 2px solid #00DEA2;
        border-radius: 50%;
        background: transparent;
        transition: .3s linear;
      }

      &:checked+.calc__symptom-checkbox-span {
        background: #00dea2;
        pointer-events: none;
      }
    }
  }



  &__price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    gap: 30px;
    display: flex;
    align-items: center;

    &-title {
      color: #007755;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-span {
        font-size: 30px;
        line-height: 35px;
      }
    }

    &-num {
      font-weight: 500;
      font-size: 64px;
      line-height: 75px;
      color: #00DEA2;
    }
  }

  &__details {
    margin-right: 150px;
    width: 444px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00C58A;
    border-radius: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    font-family: var(--ffos);
    color: #fff;
    border: unset;
    transition: .1s linear;

    &:hover {
      transform: translateY(5px);
    }
  }
}


#tooth {
  &_1 {
    left: 23px;
    top: 170px;
  }

  &_2 {
    left: 29px;
    top: 152px;
  }

  &_3 {
    left: 39px;
    top: 134px;
  }

  &_4 {
    left: 44px;
    top: 118px;
  }

  &_5 {
    left: 52px;
    top: 88px;
  }

  &_6 {
    left: 71px;
    top: 74px;
  }

  &_7 {
    left: 99px;
    top: 61px;
  }

  &_8 {
    left: 134px;
    top: 58px;
  }

  &_9 {
    left: 167px;
    top: 58px;
  }

  &_10 {
    left: 202px;
    top: 64px;
  }

  &_11 {
    left: 231px;
    top: 74px;
  }

  &_12 {
    left: 254px;
    top: 88px;
  }

  &_13 {
    left: 262px;
    top: 113px;
  }

  &_14 {
    right: 30px;
    top: 132px;
  }

  &_15 {
    right: 26px;
    top: 146px;
  }

  &_16 {
    right: 26px;
    top: 170px;
  }

  &_17 {
    left: 23px;
    bottom: 174px;
  }

  &_18 {
    left: 26px;
    bottom: 149px;
  }

  &_19 {
    left: 32px;
    bottom: 123px;
  }

  &_20 {
    left: 44px;
    bottom: 95px; 
  }

  &_21 {
    left: 63px;
    bottom: 74px;
  }

  &_22 {
    left: 84px;
    bottom: 64px;
  }

  &_23 {
    left: 109px;
    bottom: 60px;
  }

  &_24 {
    left: 136px;
    bottom: 60px;
  }

  &_25 {
    right: 137px;
    bottom: 60px;
  }

  &_26 {
    right: 109px;
    bottom: 62px;
  }

  &_27 {
    right: 85px;
    bottom: 67px;
  }

  &_28 {
    right: 64px;
    bottom: 75px;
  }

  &_29 {
    right: 46px;
    bottom: 95px;
  }

  &_30 {
    right: 33px;
    bottom: 120px;
  }

  &_31 {
    right: 27px;
    bottom: 145px;
  }

  &_32 {
    right: 24px;
    bottom: 164px;
  }
}
#c_tooth {
  &_1 {
    left: 23px;
    top: 170px;
  }

  &_2 {
    left: 29px;
    top: 152px;
  }

  &_3 {
    left: 39px;
    top: 134px;
  }

  &_4 {
    left: 44px;
    top: 118px;
  }

  &_5 {
    left: 52px;
    top: 88px;
  }

  &_6 {
    left: 71px;
    top: 74px;
  }

  &_7 {
    left: 99px;
    top: 61px;
  }

  &_8 {
    left: 134px;
    top: 58px;
  }

  &_9 {
    left: 167px;
    top: 58px;
  }

  &_10 {
    left: 202px;
    top: 64px;
  }

  &_11 {
    left: 231px;
    top: 74px;
  }

  &_12 {
    left: 254px;
    top: 88px;
  }

  &_13 {
    left: 262px;
    top: 113px;
  }

  &_14 {
    right: 30px;
    top: 132px;
  }

  &_15 {
    right: 26px;
    top: 146px;
  }

  &_16 {
    right: 26px;
    top: 170px;
  }

  &_17 {
    left: 23px;
    bottom: 174px;
  }

  &_18 {
    left: 26px;
    bottom: 149px;
  }

  &_19 {
    left: 32px;
    bottom: 123px;
  }

  &_20 {
    left: 44px;
    bottom: 95px; 
  }

  &_21 {
    left: 63px;
    bottom: 74px;
  }

  &_22 {
    left: 84px;
    bottom: 64px;
  }

  &_23 {
    left: 109px;
    bottom: 60px;
  }

  &_24 {
    left: 136px;
    bottom: 60px;
  }

  &_25 {
    right: 137px;
    bottom: 60px;
  }

  &_26 {
    right: 109px;
    bottom: 62px;
  }

  &_27 {
    right: 85px;
    bottom: 67px;
  }

  &_28 {
    right: 64px;
    bottom: 75px;
  }

  &_29 {
    right: 46px;
    bottom: 95px;
  }

  &_30 {
    right: 33px;
    bottom: 120px;
  }

  &_31 {
    right: 27px;
    bottom: 145px;
  }

  &_32 {
    right: 24px;
    bottom: 164px;
  }
}
