.contorg {
  &__inner {
    padding-top: 120px;
  }

  &__subtitle {
    margin-bottom: 82px;
  }

  &__text {
    &-span {
      font-weight: 500;
    }
    &-span-reg {
      font-weight: 400;
    }
    font-size: 24px;
    line-height: 28px;
    
    color: #585858;
    }
}
