<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__tab-outer">
        <div class="about__tab-btn-outer">
          <button class="about__tab-btn" data-about-tab='#about-1'>О клинике</button>
          <button class="about__tab-btn" data-about-tab='#about-2'>Технологии и<br>оборудование</button>
          <button class="about__tab-btn" data-about-tab='#about-3'>Лицензии</button>
          <button class="about__tab-btn" data-about-tab='#about-4'>Вакансии</button>
          <button class="about__tab-btn" data-about-tab='#about-5'>Реквизиты</button>
        </div>
        <div class="about__tab-content-outer">
          <div class="about__tab-content" id='about-1'>
            <h3 class="about__title">
              СОЦИАЛЬНАЯ СТОМАТОЛОГИЯ —
            </h3>
            <div class="about__subtitle">
              НАДЕЖНЫЙ ВЫБОР В ЛЕЧЕНИИ ЗУБОВ
            </div>
            <div class="about__info-img">
              <div class="about__info">
                <div class="about__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </div>
                <div class="about__adv-outer">
                  <div class="about__adv">
                    Надежные специалисты
                  </div>
                  <div class="about__adv">
                    Современные технологии
                  </div>
                  <div class="about__adv">
                    Индивидуальный подход
                  </div>
                  <div class="about__adv">
                    Эффективное лечение
                  </div>
                </div>
              </div>
              <div class="about__img-outer">
                <img class="about__img" src="img/about-img-1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="about__tab-content" id='about-2'>
            <h3 class="about__title">
              СОЦИАЛЬНАЯ СТОМАТОЛОГИЯ —
            </h3>
            <div class="about__subtitle">
              НАДЕЖНЫЙ ВЫБОР В ЛЕЧЕНИИ ЗУБОВ
            </div>
            <div class="about__info-img">
              <div class="about__info">
                <div class="about__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </div>
                <div class="about__adv-outer">
                  <div class="about__adv">
                    Надежные специалисты
                  </div>
                  <div class="about__adv">
                    Современные технологии
                  </div>
                  <div class="about__adv">
                    Индивидуальный подход
                  </div>
                  <div class="about__adv">
                    Эффективное лечение
                  </div>
                </div>
              </div>
              <div class="about__img-outer">
                <img class="about__img" src="img/about-img-1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="about__tab-content" id='about-3'>
            <h3 class="about__title">
              СОЦИАЛЬНАЯ СТОМАТОЛОГИЯ —
            </h3>
            <div class="about__subtitle">
              НАДЕЖНЫЙ ВЫБОР В ЛЕЧЕНИИ ЗУБОВ
            </div>
            <div class="about__info-img">
              <div class="about__info">
                <div class="about__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </div>
                <div class="about__adv-outer">
                  <div class="about__adv">
                    Надежные специалисты
                  </div>
                  <div class="about__adv">
                    Современные технологии
                  </div>
                  <div class="about__adv">
                    Индивидуальный подход
                  </div>
                  <div class="about__adv">
                    Эффективное лечение
                  </div>
                </div>
              </div>
              <div class="about__img-outer">
                <img class="about__img" src="img/about-img-1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="about__tab-content" id='about-4'>
            <h3 class="about__title">
              СОЦИАЛЬНАЯ СТОМАТОЛОГИЯ —
            </h3>
            <div class="about__subtitle">
              НАДЕЖНЫЙ ВЫБОР В ЛЕЧЕНИИ ЗУБОВ
            </div>
            <div class="about__info-img">
              <div class="about__info">
                <div class="about__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </div>
                <div class="about__adv-outer">
                  <div class="about__adv">
                    Надежные специалисты
                  </div>
                  <div class="about__adv">
                    Современные технологии
                  </div>
                  <div class="about__adv">
                    Индивидуальный подход
                  </div>
                  <div class="about__adv">
                    Эффективное лечение
                  </div>
                </div>
              </div>
              <div class="about__img-outer">
                <img class="about__img" src="img/about-img-1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="about__tab-content" id='about-5'>
            <h3 class="about__title">
              СОЦИАЛЬНАЯ СТОМАТОЛОГИЯ —
            </h3>
            <div class="about__subtitle">
              НАДЕЖНЫЙ ВЫБОР В ЛЕЧЕНИИ ЗУБОВ
            </div>
            <div class="about__info-img">
              <div class="about__info">
                <div class="about__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </div>
                <div class="about__adv-outer">
                  <div class="about__adv">
                    Надежные специалисты
                  </div>
                  <div class="about__adv">
                    Современные технологии
                  </div>
                  <div class="about__adv">
                    Индивидуальный подход
                  </div>
                  <div class="about__adv">
                    Эффективное лечение
                  </div>
                </div>
              </div>
              <div class="about__img-outer">
                <img class="about__img" src="img/about-img-1.jpg" alt="img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
