<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__tab-outer">
        <div class="about__tab-btn-outer">
          <button class="about__tab-btn" data-about-tab='#about-1'>О клинике</button>
          <button class="about__tab-btn" data-about-tab='#about-2'>Технологии и<br>оборудование</button>
          <button class="about__tab-btn" data-about-tab='#about-3'>Лицензии</button>
          <button class="about__tab-btn" data-about-tab='#about-4'>Вакансии</button>
          <button class="about__tab-btn" data-about-tab='#about-5'>Реквизиты</button>
        </div>
        <div class="about__tab-content-outer">
          <div class="about__tab-content" id='about-1'>
            <h3 class="about__title">
              СОЦИАЛЬНАЯ СТОМАТОЛОГИЯ —
            </h3>
            <div class="about__subtitle">
              НАДЕЖНЫЙ ВЫБОР В ЛЕЧЕНИИ ЗУБОВ
            </div>
            <div class="about__info-img">
              <div class="about__info">
                <div class="about__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </div>
                <div class="about__adv-outer">
                  <div class="about__adv">
                    Надежные специалисты
                  </div>
                  <div class="about__adv">
                    Современные технологии
                  </div>
                  <div class="about__adv">
                    Индивидуальный подход
                  </div>
                  <div class="about__adv">
                    Эффективное лечение
                  </div>
                </div>
              </div>
              <div class="about__img-outer">
                <img class="about__img" src="img/about-img-1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="about__tab-content" id='about-2'>
            <h3 class="labaratory__title">
              СОБСТВЕННАЯ СОВРЕМЕННАЯ ЛАБОРАТОРИЯ
            </h3>
            <div class="labaratory__subtitle">
              ДЛЯ БЫСТРОГО И ЭФФЕКТИВНОГО ПОЛУЧЕНИЯ АНАЛИЗОВ
            </div>
            <div class="labaratory__text-img">
              <div class="labaratory__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.
                <br><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="labaratory__img-outer">
                <img class="labaratory__img" src="img/labaratory-img-1.svg" alt="img">
              </div>
            </div>
          </div>
          <div class="about__tab-content" id='about-3'>
            <div class="license__title title">
              ЛИЦЕНЗИИ КЛИНИКИ
            </div>
            <div class="license__subtitle subtitle">
              Совершенно прозрачно: открытая информация для каждого
            </div>
            <div class="license__info-tab">
              <div class="license__info">
                <div class="license__info-title">
                  ЛИЦЕНЗИЯ НА ОСУЩЕСТВЛЕНИЕ МЕДИЦИНСКОЙ ДЕЯТЕЛЬНОСТИ
                </div>
                <div class="license__info-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="license__info-date-outer">
                  <div class="license__info-date">
                    10 августа 2017
                  </div>
                  <div class="license__info-date update">
                    <span class="license__info-date-span">обновлена:</span> 10 августа 2017
                  </div>
                </div>
              </div>
              <div class="license__tab-outer">
                <div class="license__tab-content-outer">
                  <a class="license__tab-content" id='license-1' href='img/diplom-1.png' data-fancybox>
                    <img class="license__tab-content-img" src="img/diplom-1.png" alt="img">
                  </a>
                  <a class="license__tab-content" id='license-2' href='img/diplom-2.png' data-fancybox>
                    <img class="license__tab-content-img" src="img/diplom-2.png" alt="img">
                  </a>
                  <a class="license__tab-content" id='license-3' href='img/diplom-3.png' data-fancybox>
                    <img class="license__tab-content-img" src="img/diplom-3.png" alt="img">
                  </a>
                </div>
                <div class="license__tab-btn-outer">
                  <button class="license__tab-btn" data-license-tab='#license-1'>
                    <img class="license__tab-btn-img" src="img/diplom-1.png" alt="img">
                  </button>
                  <button class="license__tab-btn" data-license-tab='#license-2'>
                    <img class="license__tab-btn-img" src="img/diplom-2.png" alt="img">
                  </button>
                  <button class="license__tab-btn" data-license-tab='#license-3'>
                    <img class="license__tab-btn-img" src="img/diplom-3.png" alt="img">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="about__tab-content" id='about-4'>
            <h3 class="betcond__title">
              ЛУЧШИЕ УСЛОВИЯ, ЛУЧШИЙ КОЛЛЕКТИВ
            </h3>
            <div class="betcond__subtitle">
              ДЛЯ КАЖДОГО ИЗ ЧЛЕНОВ НАШЕЙ КОМАНДЫ
            </div>
            <div class="betcond__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <br><br>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="betcond__img-outer">
              <img class="betcond__img" src="img/betcond-img.png" alt="img">
            </div>
          </div>
          <div class="about__tab-content" id='about-5'>
            <h4 class="requisites__title title">
              РЕКВИЗИТЫ КОМПАНИИ
            </h4>
            <div class="requisites__subtitle subtitle">
              Адреса и информация о компании
            </div>
            <div class="requisites__text">
              <span class="requisites__text-span">
                Полное наименование:
              </span>
              ООО "Вэлар"
            </div>
            <br><br>
            <div class="requisites__text">
              <span class="requisites__text-span">
                Физический адрес:
              </span>
              г. Анапа, ул. Стахановская, д. 14, г. Анапа, ул. Краснозеленых, д. 4а
            </div>
            <br><br>
            <div class="requisites__text">
              <span class="requisites__text-span">
                Юридический адрес:
              </span>
              353411, Краснодарский край, анапский район, с. Супсех, ул. Чапаева д. 33
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
