<section class="actual">
  <div class="container">
    <div class="actual__inner">
      <h3 class="actual__title title">
        АКТУАЛЬНЫЕ ПОСТЫ
      </h3>
      <div class="actual__subtitle subtitle">
        В привычном формате
      </div>
      <div class="actual__card-outer">
        <a class="actual__card" href='video.mp4' data-fancybox>
          <div class="actual__card-img-outer">
            <span class="actual__card-img-circle"></span>
            <img class="actual__card-img" src="img/actual-img-1.png" alt="img">
          </div>
          <div class="actual__card-title">
            Вред и польза
            виниров
          </div>
        </a>
        <a class="actual__card" href='video.mp4' data-fancybox>
          <div class="actual__card-img-outer">
            <span class="actual__card-img-circle"></span>
            <img class="actual__card-img" src="img/actual-img-2.png" alt="img">
          </div>
          <div class="actual__card-title">
            Диагностика патологий
          </div>
        </a>
        <a class="actual__card" href='video.mp4' data-fancybox>
          <div class="actual__card-img-outer">
            <span class="actual__card-img-circle"></span>
            <img class="actual__card-img" src="img/actual-img-3.png" alt="img">
          </div>
          <div class="actual__card-title">
            Как проводят операцию
          </div>
        </a>
        <a class="actual__card" href='video.mp4' data-fancybox>
          <div class="actual__card-img-outer">
            <span class="actual__card-img-circle"></span>
            <img class="actual__card-img" src="img/actual-img-4.png" alt="img">
          </div>
          <div class="actual__card-title">
            Стадии кариеса
          </div>
        </a>
        <a class="actual__card" href='video.mp4' data-fancybox>
          <div class="actual__card-img-outer">
            <span class="actual__card-img-circle"></span>
            <img class="actual__card-img" src="img/actual-img-5.png" alt="img">
          </div>
          <div class="actual__card-title">
            Зачем людям улыбаться
          </div>
        </a>
        <a class="actual__card" href='video.mp4' data-fancybox>
          <div class="actual__card-img-outer">
            <span class="actual__card-img-circle"></span>
            <img class="actual__card-img" src="img/actual-img-6.png" alt="img">
          </div>
          <div class="actual__card-title">
            Анестезия:
            за и против
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
