<section class="advlab">
  <div class="container">
    <div class="advlab__inner">
      <h3 class="advlab__title title">
        ПРЕИМУЩЕСТВА НАШЕЙ ЛАБОРАТОРИИ
      </h3>
      <div class="advlab__subtitle subtitle">
        Для клиники, пациентов, результатов и для лечения
      </div>
      <div class="advlab__card-outer">
        <div class="advlab__card">
          <div class="advlab__card-img-outer">
            <img class="advlab__card-img" src="img/advlab-img-1.svg" alt="img">
          </div>
          <div class="advlab__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
        <div class="advlab__card">
          <div class="advlab__card-img-outer">
            <img class="advlab__card-img" src="img/advlab-img-2.svg" alt="img">
          </div>
          <div class="advlab__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
        <div class="advlab__card">
          <div class="advlab__card-img-outer">
            <img class="advlab__card-img" src="img/advlab-img-3.svg" alt="img">
          </div>
          <div class="advlab__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
        <div class="advlab__card">
          <div class="advlab__card-img-outer">
            <img class="advlab__card-img" src="img/advlab-img-4.svg" alt="img">
          </div>
          <div class="advlab__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
