<blockquote class="blockquote-slider">
    <div class="blockquote-slider__container swiper-container">
      <div class="blockquote-slider__wrapper swiper-wrapper">
        <div class="blockquote-slider__slide swiper-slide">
          <div class="blockquote-slider__inner">
            <div class="blockquote-slider__info">
              <h3 class="blockquote-slider__info-title">
                КЕРАМИЧЕСКИЕ ВИНИРЫ
              </h3>
              <div class="blockquote-slider__info-text">
                Виниры – идеальное решение для<br>сбалансированной<br>
                и яркой улыбки, коррекции формы<br>и цвета зубов.
              </div>
              <a class="blockquote-slider__info-link" href="#">ПОДРОБНЕЕ</a>
            </div>
            <div class="blockquote-slider__img-outer">
              <img class="blockquote-slider__img" src="img/blockquote-slider-img.png" alt="img">
            </div>
          </div>
        </div>
        <div class="blockquote-slider__slide swiper-slide">
          <div class="blockquote-slider__inner">
            <div class="blockquote-slider__info">
              <h3 class="blockquote-slider__info-title">
                КЕРАМИЧЕСКИЕ ВИНИРЫ
              </h3>
              <div class="blockquote-slider__info-text">
                Виниры – идеальное решение для<br>сбалансированной<br>
                и яркой улыбки, коррекции формы<br>и цвета зубов.
              </div>
              <a class="blockquote-slider__info-link" href="#">ПОДРОБНЕЕ</a>
            </div>
            <div class="blockquote-slider__img-outer">
              <img class="blockquote-slider__img" src="img/blockquote-slider-img.png" alt="img">
            </div>
          </div>
        </div>
        <div class="blockquote-slider__slide swiper-slide">
          <div class="blockquote-slider__inner">
            <div class="blockquote-slider__info">
              <h3 class="blockquote-slider__info-title">
                КЕРАМИЧЕСКИЕ ВИНИРЫ
              </h3>
              <div class="blockquote-slider__info-text">
                Виниры – идеальное решение для<br>сбалансированной<br>
                и яркой улыбки, коррекции формы<br>и цвета зубов.
              </div>
              <a class="blockquote-slider__info-link" href="#">ПОДРОБНЕЕ</a>
            </div>
            <div class="blockquote-slider__img-outer">
              <img class="blockquote-slider__img" src="img/blockquote-slider-img.png" alt="img">
            </div>
          </div>
        </div>
        <div class="blockquote-slider__slide swiper-slide">
          <div class="blockquote-slider__inner">
            <div class="blockquote-slider__info">
              <h3 class="blockquote-slider__info-title">
                КЕРАМИЧЕСКИЕ ВИНИРЫ
              </h3>
              <div class="blockquote-slider__info-text">
                Виниры – идеальное решение для<br>сбалансированной<br>
                и яркой улыбки, коррекции формы<br>и цвета зубов.
              </div>
              <a class="blockquote-slider__info-link" href="#">ПОДРОБНЕЕ</a>
            </div>
            <div class="blockquote-slider__img-outer">
              <img class="blockquote-slider__img" src="img/blockquote-slider-img.png" alt="img">
            </div>
          </div>
        </div> 
      </div>
      <div class="blockquote-slider__pagination swiper-pagination"></div>
    </div>
</blockquote>