<blockquote class="blockquote-spec">
  <div class="blockquote-spec__img-outer">
    <img class="blockquote-spec__img" src="img/quaspec-1.png" alt="img">
  </div>
  <div class="container">
    <div class="blockquote-spec__inner">
      <h4 class="blockquote-spec__title">
        <span class="blockquote-spec__title-span">
          КВАЛИФИЦИРОВАННЫЕ
        </span><br>
        СПЕЦИАЛИСТЫ
      </h4>
      <div class="blockquote-spec__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </div>
      <a class="blockquote-spec__link" href="#">ПОДРОБНЕЕ</a>
    </div>
  </div>
</blockquote>