<section class="calc">
  <div class="container">
    <div class="calc__inner">
      <h5 class="calc__title title">
        КАЛЬКУЛЯТОР СТОИМОСТИ УСЛУГ
      </h5>
      <div class="calc__subtitle subtitle">
        Рассчитайте предварительную стоимость лечения
      </div>
      <div class="calc__client-symptom">
        <div class="calc__client">
          <div class="calc__client-title">
            КЛИЕНТ...
          </div>
          <div class="calc__client-tab-outer">
            <div class="calc__client-tab-btn-outer">
              <button class="calc__client-tab-btn" data-calc-tab='#calc-1'>ВЗРОСЛЫЙ</button>
              <button class="calc__client-tab-btn" data-calc-tab='#calc-2'>РЕБЕНОК</button>
            </div>
            <div class="calc__client-tab-content-outer">
              <div class="calc__client-tab-content" id='calc-1'>
                <div class="calc__client-oral-outer">
                  <img class="calc__client-oral" src="img/oral-savity.svg" alt="img">
                  <span class="calc__client-oral-span" id='tooth_1'></span>
                  <span class="calc__client-oral-span" id='tooth_2'></span>
                  <span class="calc__client-oral-span" id='tooth_3'></span>
                  <span class="calc__client-oral-span" id='tooth_4'></span>
                  <span class="calc__client-oral-span" id='tooth_5'></span>
                  <span class="calc__client-oral-span" id='tooth_6'></span>
                  <span class="calc__client-oral-span" id='tooth_7'></span>
                  <span class="calc__client-oral-span" id='tooth_8'></span>
                  <span class="calc__client-oral-span" id='tooth_9'></span>
                  <span class="calc__client-oral-span" id='tooth_10'></span>
                  <span class="calc__client-oral-span" id='tooth_11'></span>
                  <span class="calc__client-oral-span" id='tooth_12'></span>
                  <span class="calc__client-oral-span" id='tooth_13'></span>
                  <span class="calc__client-oral-span" id='tooth_14'></span>
                  <span class="calc__client-oral-span" id='tooth_15'></span>
                  <span class="calc__client-oral-span" id='tooth_16'></span>
                  <span class="calc__client-oral-span" id='tooth_17'></span>
                  <span class="calc__client-oral-span" id='tooth_18'></span>
                  <span class="calc__client-oral-span" id='tooth_19'></span>
                  <span class="calc__client-oral-span" id='tooth_20'></span>
                  <span class="calc__client-oral-span" id='tooth_21'></span>
                  <span class="calc__client-oral-span" id='tooth_22'></span>
                  <span class="calc__client-oral-span" id='tooth_23'></span>
                  <span class="calc__client-oral-span" id='tooth_24'></span>
                  <span class="calc__client-oral-span" id='tooth_25'></span>
                  <span class="calc__client-oral-span" id='tooth_26'></span>
                  <span class="calc__client-oral-span" id='tooth_27'></span>
                  <span class="calc__client-oral-span" id='tooth_28'></span>
                  <span class="calc__client-oral-span" id='tooth_29'></span>
                  <span class="calc__client-oral-span" id='tooth_30'></span>
                  <span class="calc__client-oral-span" id='tooth_31'></span>
                  <span class="calc__client-oral-span" id='tooth_32'></span>
                </div>
              </div>
              <div class="calc__client-tab-content" id='calc-2'>
                <div class="calc__client-oral-outer">
                  <img class="calc__client-oral" src="img/oral-savity.svg" alt="img">
                  <span class="calc__client-oral-span" id='c_tooth_1'></span>
                  <span class="calc__client-oral-span" id='c_tooth_2'></span>
                  <span class="calc__client-oral-span" id='c_tooth_3'></span>
                  <span class="calc__client-oral-span" id='c_tooth_4'></span>
                  <span class="calc__client-oral-span" id='c_tooth_5'></span>
                  <span class="calc__client-oral-span" id='c_tooth_6'></span>
                  <span class="calc__client-oral-span" id='c_tooth_7'></span>
                  <span class="calc__client-oral-span" id='c_tooth_8'></span>
                  <span class="calc__client-oral-span" id='c_tooth_9'></span>
                  <span class="calc__client-oral-span" id='c_tooth_10'></span>
                  <span class="calc__client-oral-span" id='c_tooth_11'></span>
                  <span class="calc__client-oral-span" id='c_tooth_12'></span>
                  <span class="calc__client-oral-span" id='c_tooth_13'></span>
                  <span class="calc__client-oral-span" id='c_tooth_14'></span>
                  <span class="calc__client-oral-span" id='c_tooth_15'></span>
                  <span class="calc__client-oral-span" id='c_tooth_16'></span>
                  <span class="calc__client-oral-span" id='c_tooth_17'></span>
                  <span class="calc__client-oral-span" id='c_tooth_18'></span>
                  <span class="calc__client-oral-span" id='c_tooth_19'></span>
                  <span class="calc__client-oral-span" id='c_tooth_20'></span>
                  <span class="calc__client-oral-span" id='c_tooth_21'></span>
                  <span class="calc__client-oral-span" id='c_tooth_22'></span>
                  <span class="calc__client-oral-span" id='c_tooth_23'></span>
                  <span class="calc__client-oral-span" id='c_tooth_24'></span>
                  <span class="calc__client-oral-span" id='c_tooth_25'></span>
                  <span class="calc__client-oral-span" id='c_tooth_26'></span>
                  <span class="calc__client-oral-span" id='c_tooth_27'></span>
                  <span class="calc__client-oral-span" id='c_tooth_28'></span>
                  <span class="calc__client-oral-span" id='c_tooth_29'></span>
                  <span class="calc__client-oral-span" id='c_tooth_30'></span>
                  <span class="calc__client-oral-span" id='c_tooth_31'></span>
                  <span class="calc__client-oral-span" id='c_tooth_32'></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calc__symptom">
          <div class="calc__symptom-title">
            ВЫБЕРИТЕ СИМПТОМЫ
          </div>
          <div class="calc__symptom-form-outer">
            <button class="calc__symptom-clean">Очистить</button>
            <form action="#" class="calc__symptom-form">
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='100'>
                <span class='calc__symptom-checkbox-span'></span>
                Наличие полости
              </label>
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='200'>
                <span class='calc__symptom-checkbox-span'></span>
                Болезненные ощущения от сладкого
              </label>
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='300'>
                <span class='calc__symptom-checkbox-span'></span>
                Ноющая боль при попадании пищи в полость зуба
              </label>
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='140'>
                <span class='calc__symptom-checkbox-span'></span>
                Скол зуба
              </label>
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='30'>
                <span class='calc__symptom-checkbox-span'></span>
                Неполное смыкание зубов
              </label>
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='20'>
                <span class='calc__symptom-checkbox-span'></span>
                Отсутствие зубов
              </label>
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='1'>
                <span class='calc__symptom-checkbox-span'></span>
                Воспаление десны
              </label>
              <label class="calc__symptom-label">
                <input class="calc__symptom-checkbox" type="radio" value='400'>
                <span class='calc__symptom-checkbox-span'></span>
                Боль при накусывании, не проходящая в течение нескольких дней
              </label>
            </form>
          </div>
        </div>
      </div>
      <div class="calc__price-details">
        <div class="calc__price">
          <div class="calc__price-title">
            <span class="calc__price-title-span">
              ПРЕДВАРИТЕЛЬНАЯ
            </span>
            СТОИМОСТЬ
          </div>
          <div class="calc__price-num">
            <span class="calc__price-num-span">2 339</span>р
          </div>
        </div>
        <button class="calc__details">
          УТОЧНИТЬ ДЕТАЛИ
        </button>
      </div>
    </div>
  </div>
</section>
