<section class="clinic-contacts">
  <div class="container">
    <div class="clinic-contacts__inner">
      <div class="clinic-contacts__info">
        <h3 class="clinic-contacts__title title">
          КОНТАКТЫ КЛИНИК
        </h3>
        <div class="clinic-contacts__subtitle subtitle">
          Позвоните или напишите нам
        </div>
      </div>
      <div class="clinic-contacts__card-wrapper">
        <div class="clinic-contacts__card-outer">
          <div class="clinic-contacts__card">
            <div class="clinic-contacts__card-title">
              УЛ. КРАСНОЗЕЛЕНЫХ, 2/1
            </div>
            <div class="clinic-contacts__card-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            
            <div class="clinic-contacts__card-contact-outer">
              <div class="clinic-contacts__card-contact-name">
                E-MAIL:
              </div>
              <a class="clinic-contacts__card-contact-link" href="mailto:info@socialstom.ru"> info@socialstom.ru</a>
            </div>
            <div class="clinic-contacts__card-contact-outer">
              <div class="clinic-contacts__card-contact-name">
                ТЕЛЕФОН:
              </div>
              <a class="clinic-contacts__card-contact-link" href="tel:89181246605"> 8 (918) 124-66-05</a>
            </div>
          </div>
          <div class="clinic-contacts__card">
          </div>
        </div>
        <div class="clinic-contacts__card-outer">
          <div class="clinic-contacts__card">
          </div>
          <div class="clinic-contacts__card">
            <div class="clinic-contacts__card-title">
              УЛ. КРАСНОЗЕЛЕНЫХ, 2/1
            </div>
            <div class="clinic-contacts__card-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            
            <div class="clinic-contacts__card-contact-outer">
              <div class="clinic-contacts__card-contact-name">
                E-MAIL:
              </div>
              <a class="clinic-contacts__card-contact-link" href="mailto:info@socialstom.ru"> info@socialstom.ru</a>
            </div>
            <div class="clinic-contacts__card-contact-outer">
              <div class="clinic-contacts__card-contact-name">
                ТЕЛЕФОН:
              </div>
              <a class="clinic-contacts__card-contact-link" href="tel:89181246605"> 8 (918) 124-66-05</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>