<section class="cons">
  <div class="container">
    <div class="cons__inner">
      <h3 class="cons__title title">
        ЗАПИШИТЕСЬ НА КОНСУЛЬТАЦИЮ
      </h3>
      <div class="cons__subtitle subtitle">
        Грамотный специалист проконсультирует вас по всем интересующим вас вопросам
      </div>
      <div class="cons__info-form">
        <div class="cons__info">
          <div class="cons__info-block">
            <div class="cons__info-img-outer">
              <img class="cons__info-img" src="img/check-icon.svg" alt="image">
            </div>
            <div class="cons__info-title-text">
              <div class="cons__info-title">
                Точный расчет стоимости
              </div>
              <div class="cons__info-text">
                Грамотный специалист проконсультирует вас по всем интересующим вас вопросам
              </div>
            </div>
          </div>
          <div class="cons__info-block">
            <div class="cons__info-title-text">
              <div class="cons__info-title">
                Оптимальный вариант лечения
              </div>
              <div class="cons__info-text">
                Грамотный специалист проконсультирует вас по всем интересующим вас вопросам
              </div>
            </div>
            <div class="cons__info-img-outer">
              <img class="cons__info-img" src="img/check-icon.svg" alt="image">
            </div>
          </div>
          <div class="cons__info-block">
            <div class="cons__info-img-outer">
              <img class="cons__info-img" src="img/check-icon.svg" alt="image">
            </div>
            <div class="cons__info-title-text">
              <div class="cons__info-title">
                Знакомство с клиникой и врачом
              </div>
              <div class="cons__info-text">
                Грамотный специалист проконсультирует вас по всем интересующим вас вопросам
              </div>
            </div>
          </div>
        </div>
        <div class="cons__form-outer">
          <div class="cons__form-title">
            Наш специалист свяжется с вами в течение нескольких минут
          </div>
          <form class="cons__form" action="#">
            <input class="cons__input" type="text" placeholder="Имя и Фамилия">
            <input class="cons__input" type="text" placeholder="Контактный телефон">
            <button class="cons__button">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
          </form>
          <a class="cons__conf" href="#">Принимаю условия политики конциденциальности и обработки данных</a>
        </div>
      </div>
    </div>
  </div>
</section>
