<section class="contorg">
  <div class="container">
    <div class="contorg__inner">
      <h3 class="contorg__title title">
        КОНТРОЛИРУЮЩИЕ ОРГАНИЗАЦИИ
      </h3>
      <div class="contorg__subtitle subtitle">
        Государственные органы
      </div>

      <div class="contorg__text">
        <span class="contorg__text-span">
          Территориальный орган Росздравнадзора по Краснодарскому краю
        </span><br>
        г. Краснодар, ул. Васнецова д. 39,<br>
        <span class="contorg__text-span-reg">телефон:</span> 8(861) 275-39-00 <br><br>
        
        <span class="contorg__text-span">
          Территориальный отдел Федеральной службы по надзору в сфере здравоохранения 
        </span><br>
        г. Анапа ул. Трудящихся, 1а <br>
        <span class="contorg__text-span-reg">приёмная, телефон:</span> 8(86133) 3-27-84 <br><br>
        
        <span class="contorg__text-span">
          Территориальный отдел Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека
        </span> <br>
        <span class="contorg__text-span-reg">телефон:</span>
        8(86133) 3-22-63 <br>
        <span class="contorg__text-span-reg">Web-сайт:</span>
        23.rospotrebnadzor.ru <br>
        <span class="contorg__text-span-reg">E-mail:</span>
        zachita06@rambler.ru <br><br>
        
        <span class="contorg__text-span">
          Орган исполнительной власти субьекта Российской Федерации в сфере охраны здоровья граждан 
        </span> <br>
        г. Анапа ул. Крымская, 99 каб. № 309 <br>
        <span class="contorg__text-span-reg">телефон:</span>
         8(86133) 5-60-69</div>
    </div>
  </div>

</section>
