<section class="denEq">
  <div class="container">
    <div class="denEq__inner">
      <h3 class="denEq__title title">
        СТОМАТОЛОГИЧЕСКОЕ ОБОРУДОВАНИЕ
      </h3>
      <div class="denEq__subtitle subtitle">
        Лучшая техника для эффективной работы
      </div>
      <div class="denEq__card-outer">
        <div class="denEq__card">
          <div class="denEq__card-title">
            Апекслокатор DPEX III
          </div>
          <div class="denEq__card-text">
            Апекслокатор DPEX III представляет третье поколение надежных и экономичных устройств для измерения глубины корневого канала производства компании Guilin Woodpecker Medical Instruments. Проверенная точность измерений до 98%.
          </div>
          <div class="denEq__card-img-outer">
            <img class="denEq__card-img" src="img/denEq-img-1.png" alt="img">
            <a class="denEq__card-play" href="video.mp4" data-fancybox>
              <img class="denEq__card-play-img" src="img/play.svg" alt="img">
            </a>
          </div>
        </div>
        <div class="denEq__card">
          <div class="denEq__card-title">
            Стоматологическая установка “KA VO”
          </div>
          <div class="denEq__card-text">
            Мы используем стоматологические установки KaVo. Работа с ними удобна для специалиста, а пациенту исключительно комфортно находиться в таких креслах. Они обладают анатомической формой со спинкой типа Progress, двумя подлокотниками и двухсуставным подголовником. Специально для юных пациентов есть подъемное сидение с настройкой для детей.
          </div>
          <div class="denEq__card-img-outer">
            <img class="denEq__card-img" src="img/denEq-img-2.png" alt="img">
            <a class="denEq__card-play" href="video.mp4" data-fancybox>
              <img class="denEq__card-play-img" src="img/play.svg" alt="img">
            </a>
          </div>
        </div>
        <div class="denEq__card">
          <div class="denEq__card-title">
            Наркозно - дыхательный аппарат Aisus
          </div>
          <div class="denEq__card-text">
            Система Aisys CS2 обеспечивает низкопоточную анестезию, позволяющую быстро блокировать нервные сигналы при введении небольшого количества вещества. Она подходит даже самым маленьким пациентам. Благодаря компактной расширенной дыхательной системе достигается требуемая концентрация ингаляционного анестетика на 79 % быстрее, чем на других наркозно-дыхательных станциях.
          </div>
          <div class="denEq__card-img-outer">
            <img class="denEq__card-img" src="img/denEq-img-3.png" alt="img">
            <a class="denEq__card-play" href="video.mp4" data-fancybox>
              <img class="denEq__card-play-img" src="img/play.svg" alt="img">
            </a>
          </div>
        </div>
        <div class="denEq__card">
          <div class="denEq__card-title">
            СТОМАТОЛОГИЧЕСКАЯ УСТАНОВКА “KA VO”
          </div>
          <div class="denEq__card-text">
            С помощью микроскопа Leica специалист может наблюдать ваш зуб, увеличив его изображение в 40-50 раз. Это позволяет сохранять высокую точность всех манипуляций и достигать хороших результатов даже при непростых диагнозах.
          </div>
          <div class="denEq__card-img-outer">
            <img class="denEq__card-img" src="img/denEq-img-4.png" alt="img">
            <a class="denEq__card-play" href="video.mp4" data-fancybox>
              <img class="denEq__card-play-img" src="img/play.svg" alt="img">
            </a>
          </div>
        </div>
        <div class="denEq__card">
          <div class="denEq__card-title">
            Ранняя диагностика кариеса с KaVo DIAGNOcam
          </div>
          <div class="denEq__card-text">
            Всего за 2 минуты, не прибегая к помощи рентгеновского излучения, врач-стоматолог может точно определить глубину, размер и локализацию кариозного поражения, даже
            если оно скрыто
          </div>
          <div class="denEq__card-img-outer">
            <img class="denEq__card-img" src="img/denEq-img-5.png" alt="img">
            <a class="denEq__card-play" href="video.mp4" data-fancybox>
              <img class="denEq__card-play-img" src="img/play.svg" alt="img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
