<section class="evidence">
  <div class="container">
    <div class="evidence__inner">
      <div class="evidence__title title">
        СВИДЕТЕЛЬСТВА 
      </div>
      <div class="evidence__subtitle subtitle">
        О государственной регистрации ЮЛ и  о постановке на учет 
      </div>
      <div class="evidence__info-tab">
        <div class="evidence__info">
          <div class="evidence__info-title">
            СВИДЕТЕЛЬСТВО О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ЮРИДИЧЕСКОГО ЛИЦА
          </div>
          <div class="evidence__info-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="evidence__info-date">
            10 августа 2017
          </div>
        </div>
        <div class="evidence__tab-outer">
          <div class="evidence__tab-content-outer">
            <a class="evidence__tab-content" id='evidence-1' href='img/diplom-1.png' data-fancybox>
              <img class="evidence__tab-content-img" src="img/diplom-1.png" alt="img">
            </a>
          </div>
          <div class="evidence__tab-btn-outer">
            <button class="evidence__tab-btn" data-evidence-tab='#evidence-1'>
              <img class="evidence__tab-btn-img" src="img/diplom-1.png" alt="img">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>