<section class="feed">
  <div class="container">
    <div class="feed__inner">
      <h3 class="feed__title title">
        ЛЕНТА БЛОГА
      </h3>
      <div class="feed__subtitle subtitle">
        Наши эксперты рассказывают о том, что может быть интересно вам
      </div>
      <div class="feed__card-wrapper">
        <div class="feed__card-outer">
          <a class="feed__card" href='#'>
            <div class="feed__card-img-outer">
              <img class="feed__card-img" src="img/feed-img-1.png" alt="img">
            </div>
            <div class="feed__card-info">
              <div class="feed__card-info-title">
                ПРАВИЛЬНАЯ ГИГИЕНА ЗУБОВ
              </div>
              <div class="feed__card-info-text-img">
                <div class="feed__card-info-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </div>
                <div class="feed__card-info-img-outer">
                  <img class="feed__card-info-img" src="img/feed-card-icon.svg" alt="img">
                </div>
              </div>
            </div>
          </a>
          <a class="feed__card" href='#'>
            <div class="feed__card-img-outer">
              <img class="feed__card-img" src="img/feed-img-2.png" alt="img">
            </div>
            <div class="feed__card-info">
              <div class="feed__card-info-title">
                САМЫЕ СЛОЖНЫЕ ОПЕРАЦИИ НА ЗУБЫ
              </div>
              <div class="feed__card-info-text-img">
                <div class="feed__card-info-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </div>
                <div class="feed__card-info-img-outer">
                  <img class="feed__card-info-img" src="img/feed-card-icon.svg" alt="img">
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="feed__card-outer">
          <a class="feed__card" href='#'>
            <div class="feed__card-img-outer">
              <img class="feed__card-img" src="img/feed-img-3.png" alt="img">
            </div>
            <div class="feed__card-info">
              <div class="feed__card-info-title">
                СОВРЕМЕННЫЕ ТЕХНОЛОГИИ В СТОМАТОЛОГИИ: МИФЫ И РЕАЛЬНОСТЬ
              </div>
              <div class="feed__card-info-text-img">
                <div class="feed__card-info-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="feed__card-info-img-outer">
                  <img class="feed__card-info-img" src="img/feed-card-icon.svg" alt="img">
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="feed__card-outer">
          <a class="feed__card" href='#'>
            <div class="feed__card-img-outer">
              <img class="feed__card-img" src="img/feed-img-4.png" alt="img">
            </div>
            <div class="feed__card-info">
              <div class="feed__card-info-title">
                УХОД ПОСЛЕ ПРОЦЕДУРЫ
              </div>
              <div class="feed__card-info-text-img">
                <div class="feed__card-info-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="feed__card-info-img-outer">
                  <img class="feed__card-info-img" src="img/feed-card-icon.svg" alt="img">
                </div>
              </div>
            </div>
          </a>
          <a class="feed__card" href='#'>
            <div class="feed__card-img-outer">
              <img class="feed__card-img" src="img/feed-img-5.png" alt="img">
            </div>
            <div class="feed__card-info">
              <div class="feed__card-info-title">
                “СТРАШНЫЕ” ИНСТРУМЕНТЫ СТОМАТОЛОГОВ
              </div>
              <div class="feed__card-info-text-img">
                <div class="feed__card-info-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </div>
                <div class="feed__card-info-img-outer">
                  <img class="feed__card-info-img" src="img/feed-card-icon.svg" alt="img">
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
