<section class="gallery">
  <div class="container">
    <div class="gallery__inner">
      <h3 class="gallery__title title">
        ГАЛЕРЕЯ УЛЫБОК
      </h3>
      <div class="gallery__subtitle subtitle">
        Наши работы у довольных клиентов
      </div>
    </div>
  </div>
  <div class="gallery__img-body">
    <div class="gallery__img-row">
      <a class="gallery__img-outer" data-fancybox href='img/gallery-1.jpg'>
        <img class="gallery__img" src="img/gallery-1.jpg" alt="img">
      </a>
      <a class="gallery__img-outer" data-fancybox href='img/gallery-2.jpg'>
        <img class="gallery__img" src="img/gallery-2.jpg" alt="img">
      </a>
      <a class="gallery__img-outer" data-fancybox href='img/gallery-3.jpg'>
        <img class="gallery__img" src="img/gallery-3.jpg" alt="img">
      </a>
      <a class="gallery__img-outer" data-fancybox href='img/gallery-4.jpg'>
        <img class="gallery__img" src="img/gallery-4.jpg" alt="img">
      </a>
    </div>
    <div class="gallery__img-row">
      <a class="gallery__img-outer" data-fancybox href='img/gallery-5.jpg'>
        <img class="gallery__img" src="img/gallery-5.jpg" alt="img">
      </a>
      <a class="gallery__img-outer" data-fancybox href='img/gallery-6.jpg'>
        <img class="gallery__img" src="img/gallery-6.jpg" alt="img">
      </a>
      <a class="gallery__img-outer" data-fancybox href='img/gallery-7.jpg'>
        <img class="gallery__img" src="img/gallery-7.jpg" alt="img">
      </a>
      <a class="gallery__img-outer" data-fancybox href='img/gallery-8.jpg'>
        <img class="gallery__img" src="img/gallery-8.jpg" alt="img">
      </a>
    </div>
  </div>
  <div class="container">
    <a class="gallery__link" href="gallery.html">
      <img class="link-img" src="img/arrow-link.svg" alt="image">
      БОЛЬШЕ ФОТОГРАФИЙ
    </a>
  </div>

</section>
