<section class="guest">
  <div class="container">
    <div class="guest__inner">
      <h3 class="guest__title title">
        У НАС В ГОСТЯХ
      </h3>
      <div class="guest__subtitle subtitle">
        Тур по нашим клиникам
      </div>
      <div class="guest__tab-btn-outer">
        <button class="guest__tab-btn" data-guest-tab='#video'>Видео</button>
        <button class="guest__tab-btn" data-guest-tab='#photo'>Фото</button>
      </div>
    </div>
  </div>
  <div class="guest__tab-content-outer">
    <div class="guest__tab-content" id='video'>
      <div class="guest__tab-content-addres-outer">
        <button class="guest__tab-content-addres gtb-inner-1" data-guest-tab="#video_1">
          ул. Стахановская
        </button>
        <button class="guest__tab-content-addres gtb-inner-1" data-guest-tab="#video_2">
          ул. Краснозеленых
        </button>
      </div>
      <a class="guest__tab-content-video gtc-inner-1" id='video_1' href="video.mp4" data-fancybox>
        <img class="guest__tab-content-video-img" src="img/guest-img.jpg" alt="img">
      </a>
      <a class="guest__tab-content-video gtc-inner-1" id='video_2' href="video.mp4" data-fancybox>
        <img class="guest__tab-content-video-img" src="img/guest-img.jpg" alt="img">
      </a>
    </div>
    <div class="guest__tab-content" id='photo'>
      <div class="guest__tab-content-addres-outer">
        <button class="guest__tab-content-addres gtb-inner-2" data-guest-tab="#photo_1">
          ул. Стахановская
        </button>
        <button class="guest__tab-content-addres gtb-inner-2" data-guest-tab="#photo_2">
          ул. Краснозеленых
        </button>
      </div>
      <a class="guest__tab-content-img gtc-inner-2" id='photo_1' href="img/guest-img.jpg" data-fancybox>
        <img class="guest__tab-content-video-img" src="img/guest-img.jpg" alt="img">
      </a>
      <a class="guest__tab-content-img gtc-inner-2" id='photo_2' href="img/guest-img.jpg" data-fancybox>
        <img class="guest__tab-content-video-img" src="img/guest-img.jpg" alt="img">
      </a>
    </div>
  </div>
</section>
