<section class="labaratory">
  <div class="container">
    <div class="labaratory__inner">
      <h3 class="labaratory__title">
        СОБСТВЕННАЯ СОВРЕМЕННАЯ ЛАБОРАТОРИЯ
      </h3>
      <div class="labaratory__subtitle">
        ДЛЯ БЫСТРОГО И ЭФФЕКТИВНОГО ПОЛУЧЕНИЯ АНАЛИЗОВ
      </div>
      <div class="labaratory__text-img">
        <div class="labaratory__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
          <br><br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="labaratory__img-outer">
          <img class="labaratory__img" src="img/labaratory-img-1.svg" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>
