<section class="labEq">
  <div class="container">
    <div class="labEq__inner">
      <h3 class="labEq__title title">
        СОВРЕМЕННОЕ ОБОРУДОВАНИЕ
      </h3>
      <div class="labEq__subtitle subtitle">
        Лаборатория обладает самыми передовыми технологиями
      </div>
      <div class="labEq__tab-outer">
        <div class="labEq__tab-btn-outer">
          <button class="labEq__tab-btn" data-labEq-tab='#labEq-1'>3D-принтер</button>
          <button class="labEq__tab-btn" data-labEq-tab='#labEq-2'>3D-станок Vfdr-1</button>
          <button class="labEq__tab-btn" data-labEq-tab='#labEq-3'>Сканер такой-то </button>
        </div>
        <div class="labEq__tab-content-outer">
          <div class="labEq__tab-content" id='labEq-1'>
            <div class="labEq__tab-content-text">
              Апекслокатор DPEX III представляет третье поколение надежных и экономичных устройств для измерения глубины корневого канала производства компании Guilin Woodpecker Medical Instruments. Проверенная точность измерений до 98%.
            </div>
            <div class="labEq__tab-content-img-outer">
              <img class="labEq__tab-content-img" src="img/denEq-img-1.png" alt="img">
              <a class="labEq__tab-content-play" href="video.mp4" data-fancybox>
                <img class="labEq__tab-content-play-img" src="img/play.svg" alt="img">
              </a>
            </div>
          </div>
          <div class="labEq__tab-content" id='labEq-2'>
            <div class="labEq__tab-content-text">
              Апекслокатор DPEX III представляет третье поколение надежных и экономичных устройств для измерения глубины корневого канала производства компании Guilin Woodpecker Medical Instruments. Проверенная точность измерений до 98%.
            </div>
            <div class="labEq__tab-content-img-outer">
              <img class="labEq__tab-content-img" src="img/denEq-img-2.png" alt="img">
              <a class="labEq__tab-content-play" href="video.mp4" data-fancybox>
                <img class="labEq__tab-content-play-img" src="img/play.svg" alt="img">
              </a>
            </div>
          </div>
          <div class="labEq__tab-content" id='labEq-3'>
            <div class="labEq__tab-content-text">
              Апекслокатор DPEX III представляет третье поколение надежных и экономичных устройств для измерения глубины корневого канала производства компании Guilin Woodpecker Medical Instruments. Проверенная точность измерений до 98%.
            </div>
            <div class="labEq__tab-content-img-outer">
              <img class="labEq__tab-content-img" src="img/denEq-img-3.png" alt="img">
              <a class="labEq__tab-content-play" href="video.mp4" data-fancybox>
                <img class="labEq__tab-content-play-img" src="img/play.svg" alt="img">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
