<section class="license">
  <div class="container">
    <div class="license__inner">
      <div class="license__title title">
        ЛИЦЕНЗИИ КЛИНИКИ
      </div>
      <div class="license__subtitle subtitle">
        Совершенно прозрачно: открытая информация для каждого
      </div>
      <div class="license__info-tab">
        <div class="license__info">
          <div class="license__info-title">
            ЛИЦЕНЗИЯ НА ОСУЩЕСТВЛЕНИЕ МЕДИЦИНСКОЙ ДЕЯТЕЛЬНОСТИ
          </div>
          <div class="license__info-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="license__info-date-outer">
            <div class="license__info-date">
              10 августа 2017
            </div>
            <div class="license__info-date update">
              <span class="license__info-date-span">обновлена:</span> 10 августа 2017
            </div>
          </div>
        </div>
        <div class="license__tab-outer">
          <div class="license__tab-content-outer">
            <a class="license__tab-content" id='license-1' href='img/diplom-1.png' data-fancybox>
              <img class="license__tab-content-img" src="img/diplom-1.png" alt="img">
            </a>
            <a class="license__tab-content" id='license-2' href='img/diplom-2.png' data-fancybox>
              <img class="license__tab-content-img" src="img/diplom-2.png" alt="img">
            </a>
            <a class="license__tab-content" id='license-3' href='img/diplom-3.png' data-fancybox>
              <img class="license__tab-content-img" src="img/diplom-3.png" alt="img">
            </a>
          </div>
          <div class="license__tab-btn-outer">
            <button class="license__tab-btn" data-license-tab='#license-1'>
              <img class="license__tab-btn-img" src="img/diplom-1.png" alt="img">
            </button>
            <button class="license__tab-btn" data-license-tab='#license-2'>
              <img class="license__tab-btn-img" src="img/diplom-2.png" alt="img">
            </button>
            <button class="license__tab-btn" data-license-tab='#license-3'>
              <img class="license__tab-btn-img" src="img/diplom-3.png" alt="img">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>