<section class="main-adv">
  <div class="container">
    <div class="main-adv__inner">
      <h3 class="main-adv__title title">
        НАШИ ОСНОВНЫЕ ПРЕИМУЩЕСТВА
      </h3>
      <div class="main-adv__subtitle subtitle">
        По мнению наших клиентов в выборе клиники
      </div>
      <div class="main-adv__card-outer">
        <div class="main-adv__card green">
          <div class="main-adv__img-outer">
            <img class="main-adv__img" src="img/main-adv-1.svg" alt="img">
          </div>
          <div class="main-adv__info">
            <div class="main-adv__info-title">
              СОВРЕМЕННЫЕ ТЕХНОЛОГИИ
            </div>
            <div class="main-adv__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
        </div>
        <div class="main-adv__card grey">
          <div class="main-adv__img-outer">
            <img class="main-adv__img" src="img/main-adv-2.svg" alt="img">
          </div>
          <div class="main-adv__info">
            <div class="main-adv__info-title">
              ОГРОМНЫЙ ОПЫТ ВРАЧЕЙ
            </div>
            <div class="main-adv__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
        </div>
        <div class="main-adv__card orange">
          <div class="main-adv__img-outer">
            <img class="main-adv__img" src="img/main-adv-3.svg" alt="img">
          </div>
          <div class="main-adv__info">
            <div class="main-adv__info-title">
              СОВРЕМЕННЫЕ ТЕХНОЛОГИИ
            </div>
            <div class="main-adv__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
