<section class="map">
  <div class="container">
    <div class="map__inner">
      <h4 class="map__title title">
        КАРТА МЕДИЦИНСКИХ КЛИНИК
      </h4>
      <div class="map__subtitle subtitle">
        Удобно добраться, в доступном расположении
      </div>
      <div class="map__contacts-button">
        <nav class="map__contacts-outer">
          <ul class="map__contacts">
            <li class="map__contacts-item">
              <div class="map__contacts-img-outer">
                <img class="map__contacts-img" src="img/location.svg" alt="icon">
              </div>
                ул. Краснозеленых, д. 2/1
            </li>
            <li class="map__contacts-item">
              <div class="map__contacts-img-outer">
                <img class="map__contacts-img" src="img/tel.svg" alt="icon">
              </div>
              <a class="map__contacts-link" href="tel:89181246605">
                8 (918) 124 66 05
              </a>
            </li>
          </ul>
          <ul class="map__contacts active">
            <li class="map__contacts-item">
              <div class="map__contacts-img-outer">
                <img class="map__contacts-img" src="img/location.svg" alt="icon">
              </div>
                ул. Краснозеленых, д. 2/1
            </li>
            <li class="map__contacts-item">
              <div class="map__contacts-img-outer">
                <img class="map__contacts-img" src="img/tel.svg" alt="icon">
              </div>
              <a class="map__contacts-link" href="tel:89181246605">
                8 (918) 124 66 05
              </a>
            </li>
          </ul>
        </nav>
        <button class="map__button">
          обратный звонок
        </button>
      </div>
      <div class="map__map-outer">
        <iframe class='map__map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1838.6550027852659!2d37.335582076234076!3d44.88282459854846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ee0bcfbead94d3%3A0x3f0314162ca80f56!2z0YPQuy4g0KHRgtCw0YXQsNC90L7QstGB0LrQsNGPLCAxNCwg0JDQvdCw0L_QsCwg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksINCg0L7RgdGB0LjRjywgMzUzNDUx!5e0!3m2!1sru!2skz!4v1630387598310!5m2!1sru!2skz" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
