<section class="vacancy">
  <div class="container">
    <div class="vacancy__inner">
      <h3 class="vacancy__title title">
        ОТКРЫТЫЕ ВАКАНСИИ В КЛИНИКЕ
      </h3>
      <div class="vacancy__subtitle subtitle">
        Мы постоянно расширяемся: если Вы не нашли нужную, свяжитесь с нами
      </div>
      <div class="vacancy__no-outer">
        <div class="vacancy__no-img-outer">
          <img class="vacancy__no-img" src="img/info-v.svg" alt="img">
        </div>
        <div class="vacancy__no-text">
          На данный момент нет открытых вакансий, однако Вы все еще можете написать нам, и мы вам перезвоним.
        </div>
      </div>
    </div>
  </div>
</section>
