<section class="price">
  <div class="container">
    <div class="price__inner">
      <div class="price__tab-outer">
        <div class="price__tab-btn-outer">
          <button class="price__tab-btn" data-price-tab='#price-tab-1'>Лечение зубов</button>
          <button class="price__tab-btn" data-price-tab='#price-tab-2'>Протезирование</button>
          <button class="price__tab-btn" data-price-tab='#price-tab-3'>Хирургия</button>
          <button class="price__tab-btn" data-price-tab='#price-tab-4'>Имплантология</button>
          <button class="price__tab-btn" data-price-tab='#price-tab-5'>Ортодонтия</button>
          <button class="price__tab-btn" data-price-tab='#price-tab-6'>3D томография</button>
        </div>
        <div class="price__tab-content-outer">
          <div class="price__tab-content" id='price-tab-1'>
            <div class="price__tab-content-top">
              <div class="price__tab-content-top-info">
                <h6 class="price__title title">
                  ЛЕЧЕНИЕ ЗУБОВ
                </h6>
                <div class="price__subtitle subtitle">
                  Пломбы, снятие острой боли, консультации
                </div>
              </div>
              <div class="price__tab-content-top-img-outer">
                <img class="price__tab-content-top-img" src="img/price-tab-img-1.jpg" alt="img">
              </div>
            </div>
            <div class="price__card-outer">
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Профессиональная гигиена полости рта (скеллинг/air flow/полировка)</div>
                <div class="price__card-num">3 000 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Удаление внутриканального штифта/вкладки</div>
                <div class="price__card-num">800 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
            </div>
          </div>
          <div class="price__tab-content" id='price-tab-2'>
            <div class="price__tab-content-top">
              <div class="price__tab-content-top-info">
                <h6 class="price__title title">
                  ЛЕЧЕНИЕ ЗУБОВ
                </h6>
                <div class="price__subtitle subtitle">
                  Пломбы, снятие острой боли, консультации
                </div>
              </div>
              <div class="price__tab-content-top-img-outer">
                <img class="price__tab-content-top-img" src="img/price-tab-img-1.jpg" alt="img">
              </div>
            </div>
            <div class="price__card-outer">
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Профессиональная гигиена полости рта (скеллинг/air flow/полировка)</div>
                <div class="price__card-num">3 000 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Удаление внутриканального штифта/вкладки</div>
                <div class="price__card-num">800 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
            </div>
          </div>
          <div class="price__tab-content" id='price-tab-3'>
            <div class="price__tab-content-top">
              <div class="price__tab-content-top-info">
                <h6 class="price__title title">
                  ЛЕЧЕНИЕ ЗУБОВ
                </h6>
                <div class="price__subtitle subtitle">
                  Пломбы, снятие острой боли, консультации
                </div>
              </div>
              <div class="price__tab-content-top-img-outer">
                <img class="price__tab-content-top-img" src="img/price-tab-img-1.jpg" alt="img">
              </div>
            </div>
            <div class="price__card-outer">
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Профессиональная гигиена полости рта (скеллинг/air flow/полировка)</div>
                <div class="price__card-num">3 000 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Удаление внутриканального штифта/вкладки</div>
                <div class="price__card-num">800 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
            </div>
          </div>
          <div class="price__tab-content" id='price-tab-4'>
            <div class="price__tab-content-top">
              <div class="price__tab-content-top-info">
                <h6 class="price__title title">
                  ЛЕЧЕНИЕ ЗУБОВ
                </h6>
                <div class="price__subtitle subtitle">
                  Пломбы, снятие острой боли, консультации
                </div>
              </div>
              <div class="price__tab-content-top-img-outer">
                <img class="price__tab-content-top-img" src="img/price-tab-img-1.jpg" alt="img">
              </div>
            </div>
            <div class="price__card-outer">
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Профессиональная гигиена полости рта (скеллинг/air flow/полировка)</div>
                <div class="price__card-num">3 000 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Удаление внутриканального штифта/вкладки</div>
                <div class="price__card-num">800 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
            </div>
          </div>
          <div class="price__tab-content" id='price-tab-5'>
            <div class="price__tab-content-top">
              <div class="price__tab-content-top-info">
                <h6 class="price__title title">
                  ЛЕЧЕНИЕ ЗУБОВ
                </h6>
                <div class="price__subtitle subtitle">
                  Пломбы, снятие острой боли, консультации
                </div>
              </div>
              <div class="price__tab-content-top-img-outer">
                <img class="price__tab-content-top-img" src="img/price-tab-img-1.jpg" alt="img">
              </div>
            </div>
            <div class="price__card-outer">
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Профессиональная гигиена полости рта (скеллинг/air flow/полировка)</div>
                <div class="price__card-num">3 000 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Удаление внутриканального штифта/вкладки</div>
                <div class="price__card-num">800 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
            </div>
          </div>
          <div class="price__tab-content" id='price-tab-6'>
            <div class="price__tab-content-top">
              <div class="price__tab-content-top-info">
                <h6 class="price__title title">
                  ЛЕЧЕНИЕ ЗУБОВ
                </h6>
                <div class="price__subtitle subtitle">
                  Пломбы, снятие острой боли, консультации
                </div>
              </div>
              <div class="price__tab-content-top-img-outer">
                <img class="price__tab-content-top-img" src="img/price-tab-img-1.jpg" alt="img">
              </div>
            </div>
            <div class="price__card-outer">
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Профессиональная гигиена полости рта (скеллинг/air flow/полировка)</div>
                <div class="price__card-num">3 000 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Удаление внутриканального штифта/вкладки</div>
                <div class="price__card-num">800 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Консультация специалиста</div>
                <div class="price__card-num">500 рублей</div>
              </div>
              <div class="price__card">
                <div class="price__card-title">Восстановление зуба пломбой с использованием фиброволоконного штифта</div>
                <div class="price__card-num">3 600 рублей</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
