<section class="reaprice">
  <div class="container">
    <div class="reaprice__inner">
      <h3 class="reaprice__title">
        ДОСТУПНЫЕ ЦЕНЫ ДЛЯ КАЖДОГО: 
      </h3>
      <div class="reaprice__subtitle">
        КАЧЕСТВЕННОЕ И НЕДОРОГОЕ ЛЕЧЕНИЕ ЗУБОВ
      </div>
      <div class="reaprice__text-outer">
        <div class="reaprice__text">
          Снижение расходов стоматологической клиники стало возможным благодаря наличию собственной зуботехнической лаборатории, рациональному подходу к организации лечения и уменьшению общих издержек. При этом качество предоставляемых стоматологических услуг остается на самом высшем уровне. <span class='reaprice__text-span'>Наши стоматологи</span>регулярно проходят обучение и повышают свою квалификацию. 
        </div>
        <div class="reaprice__text">
          Для <span class='reaprice__text-span'>лечения и протезирования</span> мы применяем только высококачественные материалы, что позволяет нам предоставить надежную гарантию на свои услуги. Закупка материалов оптом прямо у производителей дает нам возможность снизить собственные расходы и назначить оптимальные цены на стоматологические услуги в Анапе.У нас действительно низкая стоимость лечения зубов в Анапе. 
        </div>
      </div>
    </div>
  </div>
</section>
