<section class="requisites">
  <div class="container">
    <div class="requisites__inner">
      <h4 class="requisites__title title">
        РЕКВИЗИТЫ КОМПАНИИ
      </h4>
      <div class="requisites__subtitle subtitle">
        Адреса и информация о компании
      </div>
      <div class="requisites__text">
        <span class="requisites__text-span">
          Полное наименование:
        </span>
        ООО "Вэлар"
      </div>
      <br><br>
      <div class="requisites__text">
        <span class="requisites__text-span">
          Физический адрес:
        </span>
        г. Анапа, ул. Стахановская, д. 14, г. Анапа, ул. Краснозеленых, д. 4а
      </div>
      <br><br>
      <div class="requisites__text">
        <span class="requisites__text-span">
          Юридический адрес:
        </span>
        353411, Краснодарский край, анапский район, с. Супсех, ул. Чапаева д. 33
      </div>
    </div>
  </div>
</section>