
<section class="services-adv">
  <div class="container">
    <div class="services-adv__inner">
      <h3 class="services-adv__title title">
        ПРЕИМУЩЕСТВА ЛЕЧЕНИЯ В НАШЕЙ КЛИНИКЕ
      </h3>
      <div class="services-adv__subtitle subtitle">
        Около 85% пациентов обращаются к нам для лечения кариеса
      </div>
      <div class="services-adv__card-outer">
        <div class="services-adv__card">
          <div class="services-adv__card-title">
            ДИАГНОСТИКА И СОСТАВЛЕНИЕ ПЛАНА
          </div>
          <div class="services-adv__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit  sed do eiusmod
          </div>
        </div>
        <div class="services-adv__card">
          <div class="services-adv__card-title">
            ВОЗВРАЩАЕМ ЗУБУ КРАСОТУ И ФУНКЦИЮ
          </div>
          <div class="services-adv__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit  sed do eiusmod
          </div>
        </div>
        <div class="services-adv__card grey">
          <div class="services-adv__card-title">
            ВНИМАТЕЛЬНОЕ ОТНОШЕНИЕ
          </div>
          <div class="services-adv__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit  sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit  sed do.
          </div>
        </div>
        <div class="services-adv__card grey">
          <div class="services-adv__card-title">
            НАДЕЖНЫЕ МАТЕРИАЛЫ ДЛЯ ВОССТАНОВЛЕНИЯ
          </div>
          <div class="services-adv__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit  sed do eiusmod
          </div>
        </div>
      </div>
    </div>
  </div>
</section>