<section class="services-tab">
  <div class="container">
    <div class="services-tab__inner">
      <div class="services-tab__tab-outer">
        <div class="services-tab__tab-btn-outer">
          <button class="services-tab__tab-btn" data-services-tab-tab='#services-tab-1'>Лечение зубов</button>
          <button class="services-tab__tab-btn" data-services-tab-tab='#services-tab-2'>Протезирование</button>
          <button class="services-tab__tab-btn" data-services-tab-tab='#services-tab-3'>Хирургия</button>
          <button class="services-tab__tab-btn" data-services-tab-tab='#services-tab-4'>Имплантология</button>
          <button class="services-tab__tab-btn" data-services-tab-tab='#services-tab-5'>Ортодонтия</button>
          <button class="services-tab__tab-btn" data-services-tab-tab='#services-tab-6'>3D томография</button>
        </div>
        <div class="services-tab__tab-content-outer">
          <div class="services-tab__tab-content" id='services-tab-1'>
            <h3 class="services-tab__title title">
              ЭТАПЫ КАРИЕСА
            </h3>
            <div class="services-tab__subtitle subtitle">
              Около 85% пациентов обращаются к нам для лечения кариеса
            </div>
            <div class="services-tab__card-outer">
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Кариес на стадии «пятна»
                </div>
                <div class="services-tab__card-text">
                  Это начальная форма заболевания, при которой на эмали появляются темные и белые пятна. В этот период
                  достаточно провести профессиональную чистку зубов, удаление зубного камня и нанести на эмаль
                  специальное восстанавливающее средство.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Появление небольшой полости
                </div>
                <div class="services-tab__card-text">
                  Следующая стадия кариеса, при которой начинается разрушение эмали. Для лечения необходимо убрать
                  кариозную область и наложить пломбу.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Средняя стадия
                </div>
                <div class="services-tab__card-text">
                  Поражаются верхние слои дентина, зуб начинает болеть. Для лечения необходимо применять особые
                  медикаменты. Мы стараемся максимально сохранить зуб, насколько это возможно в вашем случае.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Глубокая стадия кариеса
                </div>
                <div class="services-tab__card-text">
                  в случае проникновения инфекции глубоко внутрь процедура лечения становится намного сложнее. Вероятнее
                  всего придется удалять нерв и пломбировать корневые каналы. Возможно, придется лечить <span
                    class='services-tab__card-text-span'> заболевания пародонта.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="services-tab__tab-content" id='services-tab-2'>
            <h3 class="services-tab__title title">
              ЭТАПЫ КАРИЕСА
            </h3>
            <div class="services-tab__subtitle subtitle">
              Около 85% пациентов обращаются к нам для лечения кариеса
            </div>
            <div class="services-tab__card-outer">
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Кариес на стадии «пятна»
                </div>
                <div class="services-tab__card-text">
                  Это начальная форма заболевания, при которой на эмали появляются темные и белые пятна. В этот период
                  достаточно провести профессиональную чистку зубов, удаление зубного камня и нанести на эмаль
                  специальное восстанавливающее средство.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Появление небольшой полости
                </div>
                <div class="services-tab__card-text">
                  Следующая стадия кариеса, при которой начинается разрушение эмали. Для лечения необходимо убрать
                  кариозную область и наложить пломбу.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Средняя стадия
                </div>
                <div class="services-tab__card-text">
                  Поражаются верхние слои дентина, зуб начинает болеть. Для лечения необходимо применять особые
                  медикаменты. Мы стараемся максимально сохранить зуб, насколько это возможно в вашем случае.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Глубокая стадия кариеса
                </div>
                <div class="services-tab__card-text">
                  в случае проникновения инфекции глубоко внутрь процедура лечения становится намного сложнее. Вероятнее
                  всего придется удалять нерв и пломбировать корневые каналы. Возможно, придется лечить <span
                    class='services-tab__card-text-span'> заболевания пародонта.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="services-tab__tab-content" id='services-tab-3'>
            <h3 class="services-tab__title title">
              ЭТАПЫ КАРИЕСА
            </h3>
            <div class="services-tab__subtitle subtitle">
              Около 85% пациентов обращаются к нам для лечения кариеса
            </div>
            <div class="services-tab__card-outer">
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Кариес на стадии «пятна»
                </div>
                <div class="services-tab__card-text">
                  Это начальная форма заболевания, при которой на эмали появляются темные и белые пятна. В этот период
                  достаточно провести профессиональную чистку зубов, удаление зубного камня и нанести на эмаль
                  специальное восстанавливающее средство.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Появление небольшой полости
                </div>
                <div class="services-tab__card-text">
                  Следующая стадия кариеса, при которой начинается разрушение эмали. Для лечения необходимо убрать
                  кариозную область и наложить пломбу.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Средняя стадия
                </div>
                <div class="services-tab__card-text">
                  Поражаются верхние слои дентина, зуб начинает болеть. Для лечения необходимо применять особые
                  медикаменты. Мы стараемся максимально сохранить зуб, насколько это возможно в вашем случае.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Глубокая стадия кариеса
                </div>
                <div class="services-tab__card-text">
                  в случае проникновения инфекции глубоко внутрь процедура лечения становится намного сложнее. Вероятнее
                  всего придется удалять нерв и пломбировать корневые каналы. Возможно, придется лечить <span
                    class='services-tab__card-text-span'> заболевания пародонта.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="services-tab__tab-content" id='services-tab-4'>
            <h3 class="services-tab__title title">
              ЭТАПЫ КАРИЕСА
            </h3>
            <div class="services-tab__subtitle subtitle">
              Около 85% пациентов обращаются к нам для лечения кариеса
            </div>
            <div class="services-tab__card-outer">
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Кариес на стадии «пятна»
                </div>
                <div class="services-tab__card-text">
                  Это начальная форма заболевания, при которой на эмали появляются темные и белые пятна. В этот период
                  достаточно провести профессиональную чистку зубов, удаление зубного камня и нанести на эмаль
                  специальное восстанавливающее средство.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Появление небольшой полости
                </div>
                <div class="services-tab__card-text">
                  Следующая стадия кариеса, при которой начинается разрушение эмали. Для лечения необходимо убрать
                  кариозную область и наложить пломбу.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Средняя стадия
                </div>
                <div class="services-tab__card-text">
                  Поражаются верхние слои дентина, зуб начинает болеть. Для лечения необходимо применять особые
                  медикаменты. Мы стараемся максимально сохранить зуб, насколько это возможно в вашем случае.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Глубокая стадия кариеса
                </div>
                <div class="services-tab__card-text">
                  в случае проникновения инфекции глубоко внутрь процедура лечения становится намного сложнее. Вероятнее
                  всего придется удалять нерв и пломбировать корневые каналы. Возможно, придется лечить <span
                    class='services-tab__card-text-span'> заболевания пародонта.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="services-tab__tab-content" id='services-tab-5'>
            <h3 class="services-tab__title title">
              ЭТАПЫ КАРИЕСА
            </h3>
            <div class="services-tab__subtitle subtitle">
              Около 85% пациентов обращаются к нам для лечения кариеса
            </div>
            <div class="services-tab__card-outer">
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Кариес на стадии «пятна»
                </div>
                <div class="services-tab__card-text">
                  Это начальная форма заболевания, при которой на эмали появляются темные и белые пятна. В этот период
                  достаточно провести профессиональную чистку зубов, удаление зубного камня и нанести на эмаль
                  специальное восстанавливающее средство.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Появление небольшой полости
                </div>
                <div class="services-tab__card-text">
                  Следующая стадия кариеса, при которой начинается разрушение эмали. Для лечения необходимо убрать
                  кариозную область и наложить пломбу.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Средняя стадия
                </div>
                <div class="services-tab__card-text">
                  Поражаются верхние слои дентина, зуб начинает болеть. Для лечения необходимо применять особые
                  медикаменты. Мы стараемся максимально сохранить зуб, насколько это возможно в вашем случае.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Глубокая стадия кариеса
                </div>
                <div class="services-tab__card-text">
                  в случае проникновения инфекции глубоко внутрь процедура лечения становится намного сложнее. Вероятнее
                  всего придется удалять нерв и пломбировать корневые каналы. Возможно, придется лечить <span
                    class='services-tab__card-text-span'> заболевания пародонта.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="services-tab__tab-content" id='services-tab-6'>
            <h3 class="services-tab__title title">
              ЭТАПЫ КАРИЕСА
            </h3>
            <div class="services-tab__subtitle subtitle">
              Около 85% пациентов обращаются к нам для лечения кариеса
            </div>
            <div class="services-tab__card-outer">
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Кариес на стадии «пятна»
                </div>
                <div class="services-tab__card-text">
                  Это начальная форма заболевания, при которой на эмали появляются темные и белые пятна. В этот период
                  достаточно провести профессиональную чистку зубов, удаление зубного камня и нанести на эмаль
                  специальное восстанавливающее средство.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Появление небольшой полости
                </div>
                <div class="services-tab__card-text">
                  Следующая стадия кариеса, при которой начинается разрушение эмали. Для лечения необходимо убрать
                  кариозную область и наложить пломбу.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Средняя стадия
                </div>
                <div class="services-tab__card-text">
                  Поражаются верхние слои дентина, зуб начинает болеть. Для лечения необходимо применять особые
                  медикаменты. Мы стараемся максимально сохранить зуб, насколько это возможно в вашем случае.
                </div>
              </div>
              <div class="services-tab__card">
                <div class="services-tab__card-title">
                  Глубокая стадия кариеса
                </div>
                <div class="services-tab__card-text">
                  в случае проникновения инфекции глубоко внутрь процедура лечения становится намного сложнее. Вероятнее
                  всего придется удалять нерв и пломбировать корневые каналы. Возможно, придется лечить <span
                    class='services-tab__card-text-span'> заболевания пародонта.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
