<section class="specialists">
  <div class="container">
    <div class="specialists__inner">
      <h3 class="specialists__title title">
        СПЕЦИАЛИСТЫ, КОТОРЫЕ МОГУТ ПОМОЧЬ ВАМ
      </h3>
      <div class="specialists__subtitle subtitle">
        Данные специалисты имеют узкую специализацию лечения зубов
      </div>
      <div class="specialists__slider-outer">
        <div class="specialists__slider-container swiper-container">
          <div class="specialists__slider-wrapper swiper-wrapper">
            <div class="specialists__slider-slide swiper-slide">
              <div class="specialists__card-outer">
                <div class="specialists__card">
                  <div class="specialists__img-outer">
                    <img class="specialists__img" src="img/specialists-slider-img.png" alt="img">
                  </div>
                  <div class="specialists__info">
                    <div class="specialists__info-title">
                      Астахов Иван Владимирович
                    </div>
                    <div class="specialists__info-subtitle">
                      Хирург-имплантолог
                    </div>
                    <div class="specialists__info-link-grade">
                      <div class="specialists__info-link-outer">
                        <a class="specialists__info-link" href="specialist.html">
                          Подробнее
                        </a>
                        <a class="specialists__info-link specialists__info-link-green" href="#">
                          Записаться
                        </a>
                      </div>
                      <div class="specialists__info-grade">
                        <div class="specialists__info-grade-num">
                          4,8
                        </div>
                        <div class="specialists__info-grade-star-outer">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                        </div>
                        <div class="specialists__info-grade-text">
                          46 отзывов
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="specialists__slider-slide swiper-slide">
              <div class="specialists__card-outer">
                <div class="specialists__card">
                  <div class="specialists__img-outer">
                    <img class="specialists__img" src="img/specialists-slider-img.png" alt="img">
                  </div>
                  <div class="specialists__info">
                    <div class="specialists__info-title">
                      Астахов Иван Владимирович
                    </div>
                    <div class="specialists__info-subtitle">
                      Хирург-имплантолог
                    </div>
                    <div class="specialists__info-link-grade">
                      <div class="specialists__info-link-outer">
                        <a class="specialists__info-link" href="specialist.html">
                          Подробнее
                        </a>
                        <a class="specialists__info-link specialists__info-link-green" href="#">
                          Записаться
                        </a>
                      </div>
                      <div class="specialists__info-grade">
                        <div class="specialists__info-grade-num">
                          4,8
                        </div>
                        <div class="specialists__info-grade-star-outer">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                        </div>
                        <div class="specialists__info-grade-text">
                          46 отзывов
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="specialists__slider-slide swiper-slide">
              <div class="specialists__card-outer">
                <div class="specialists__card">
                  <div class="specialists__img-outer">
                    <img class="specialists__img" src="img/specialists-slider-img.png" alt="img">
                  </div>
                  <div class="specialists__info">
                    <div class="specialists__info-title">
                      Астахов Иван Владимирович
                    </div>
                    <div class="specialists__info-subtitle">
                      Хирург-имплантолог
                    </div>
                    <div class="specialists__info-link-grade">
                      <div class="specialists__info-link-outer">
                        <a class="specialists__info-link" href="specialist.html">
                          Подробнее
                        </a>
                        <a class="specialists__info-link specialists__info-link-green" href="#">
                          Записаться
                        </a>
                      </div>
                      <div class="specialists__info-grade">
                        <div class="specialists__info-grade-num">
                          4,8
                        </div>
                        <div class="specialists__info-grade-star-outer">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                        </div>
                        <div class="specialists__info-grade-text">
                          46 отзывов
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="specialists__slider-slide swiper-slide">
              <div class="specialists__card-outer">
                <div class="specialists__card">
                  <div class="specialists__img-outer">
                    <img class="specialists__img" src="img/specialists-slider-img.png" alt="img">
                  </div>
                  <div class="specialists__info">
                    <div class="specialists__info-title">
                      Астахов Иван Владимирович
                    </div>
                    <div class="specialists__info-subtitle">
                      Хирург-имплантолог
                    </div>
                    <div class="specialists__info-link-grade">
                      <div class="specialists__info-link-outer">
                        <a class="specialists__info-link" href="specialist.html">
                          Подробнее
                        </a>
                        <a class="specialists__info-link specialists__info-link-green" href="#">
                          Записаться
                        </a>
                      </div>
                      <div class="specialists__info-grade">
                        <div class="specialists__info-grade-num">
                          4,8
                        </div>
                        <div class="specialists__info-grade-star-outer">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                        </div>
                        <div class="specialists__info-grade-text">
                          46 отзывов
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="specialists__slider-slide swiper-slide">
              <div class="specialists__card-outer">
                <div class="specialists__card">
                  <div class="specialists__img-outer">
                    <img class="specialists__img" src="img/specialists-slider-img.png" alt="img">
                  </div>
                  <div class="specialists__info">
                    <div class="specialists__info-title">
                      Астахов Иван Владимирович
                    </div>
                    <div class="specialists__info-subtitle">
                      Хирург-имплантолог
                    </div>
                    <div class="specialists__info-link-grade">
                      <div class="specialists__info-link-outer">
                        <a class="specialists__info-link" href="specialist.html">
                          Подробнее
                        </a>
                        <a class="specialists__info-link specialists__info-link-green" href="#">
                          Записаться
                        </a>
                      </div>
                      <div class="specialists__info-grade">
                        <div class="specialists__info-grade-num">
                          4,8
                        </div>
                        <div class="specialists__info-grade-star-outer">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                          <img class="specialists__info-grade-star" src="img/green-star.svg" alt="img">
                        </div>
                        <div class="specialists__info-grade-text">
                          46 отзывов
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div class="specialists__slider-pagination swiper-pagination"></div>
        </div>
      </div>
      <a href="#" class="specialists__link">
        <img class="specialists__link-img" src="img/arrow-link.svg" alt="img">
        ВСЕ СПЕЦИАЛИСТЫ
      </a>
    </div>
  </div>

</section>
