
<section class="services">
  <div class="container">
    <div class="services__inner">
      <h3 class="services__title title">
        УСЛУГИ НАШЕЙ КЛИНИКИ
      </h3>
      <div class="services__subtitle subtitle">
        Качественное оказание услуг - наш приоритет
      </div>
      <div class="services__card-outer">
        <div class="services__card services__card-dark">
          <div class="services__card-title">
            ОРТОДОНТИЯ
          </div>
          <div class="services__card-subtitle">
            Ровные зубы и правильный прикус
          </div>
          <a class="services__card-additional-link" href="#">
            Постановка брекетов
          </a>
          <a class="services__card-additional-link" href="#">
            Восстановление каппами , пластинками и т.п.
          </a>
          <a class="services__card-link" href='#'>Подробнее</a>
        </div>
        <div class="services__card">
          <div class="services__card-title">
            ПРОТЕЗИРОВАНИЕ ЗУБОВ
          </div>
          <div class="services__card-subtitle">
            Восстановление зубного ряда с помощью протезов
          </div>
          <a class="services__card-additional-link" href="#">
            Съемные протезы
          </a>
          <a class="services__card-additional-link" href="#">
            Несъемные протезы
          </a>
          <a class="services__card-link" href='#'>Подробнее</a>
        </div>
        <div class="services__card">
          <div class="services__card-title">
            ЛЕЧЕНИЕ ЗУБОВ
          </div>
          <div class="services__card-subtitle">
            Быстро и безболезненно устранить любые проблемы ротовой полости
          </div>
          <a class="services__card-additional-link" href="#">
            Лечение кариеса
          </a>
          <a class="services__card-additional-link" href="#">
            Профессиональная гигиена
          </a>
          <a class="services__card-link" href='#'>Подробнее</a>
        </div>
        <div class="services__card services__card-dark">
          <div class="services__card-title">
            ХИРУРГИЯ
          </div>
          <div class="services__card-subtitle">
            Удаление сильно поврежденных зубов
          </div>
          <a class="services__card-additional-link" href="#">
            Удаление зубов
          </a>
          <a class="services__card-additional-link" href="#">
            Цистэктомия
          </a>
          <a class="services__card-link" href='#'>Подробнее</a>
        </div>
        <div class="services__card services__card-dark">
          <div class="services__card-title">
            ИМПЛАНТОЛОГИЯ
          </div>
          <div class="services__card-subtitle">
            Практически невозможно отличить от естественных зубов
          </div>
          <a class="services__card-additional-link" href="#">
            Имплантация
          </a>
          <a class="services__card-link" href='#'>Подробнее</a>
        </div>
        <div class="services__card">
          <div class="services__card-title">
            3D-ТОМОГРАФИЯ
          </div>
          <div class="services__card-subtitle">
            обнаружить патологии, которые не имеют выраженных симптомов
          </div>
          <a class="services__card-additional-link" href="#">
            Выявление патологий
          </a>
          <a class="services__card-link" href='#'>Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>