<section class="spec-rev">
  <div class="container">
    <div class="spec-rev__inner">
      <h3 class="spec-rev__title title">
        ОТЗЫВЫ О СПЕЦИАЛИСТЕ
      </h3>
      <div class="spec-rev__subtitle subtitle">
        Мнение клиентов о посещении врача
      </div>
      <div class="spec-rev__slider-outer">
        <div class="spec-rev__slider swiper-container">
          <div class="spec-rev__slider-wrapper swiper-wrapper">
            <div class="spec-rev__slider-slide swiper-slide">
              <div class="spec-rev__img-outer">
                <img class="spec-rev__img" src="img/review.webp" alt="img">
              </div>
            </div>
            <div class="spec-rev__slider-slide swiper-slide">
              <div class="spec-rev__img-outer">
                <img class="spec-rev__img" src="img/review.webp" alt="img">
              </div>
            </div>
            <div class="spec-rev__slider-slide swiper-slide">
              <div class="spec-rev__img-outer">
                <img class="spec-rev__img" src="img/review.webp" alt="img">
              </div>
            </div>
            <div class="spec-rev__slider-slide swiper-slide">
              <div class="spec-rev__img-outer">
                <img class="spec-rev__img" src="img/review.webp" alt="img">
              </div>
            </div>
          </div>
          <div class="spec-rev__slider-pagination swiper-pagination"></div>
        </div>
      </div>
      <a class="spec-rev__link" href="#">
        <img class="spec-rev__link-img" src="img/arrow-link.svg" alt="img">
        ОСТАВИТЬ ОТЗЫВ
      </a>
    </div>
  </div>

</section>
