<section class="spec">
  <div class="container">
    <div class="spec__inner">
      <div class="spec__img-outer">
        <img class="spec__img" src="img/spec-img-1.png" alt="img">
      </div>
      <div class="spec__info">
        <div class="spec__title">
          Астахов Иван Владимирович
        </div>
        <div class="spec__subtitle">
          Хирург-имплантолог
        </div>
        <div class="spec__exp">
          СТАЖ: 10 ЛЕТ
        </div>
        <div class="spec__quote">
          Медицина должна быть доступной, что бы ни случилось! Ведь Ваше здоровье – это главная ценность, которую просто
          невозможно измерить деньгами. Именно поэтому мы открыли клинику «Социальная стоматология»
          с доступными ценами на все виды услуг. Наша основная цель – сделать так, чтобы все категории граждан,
          независимо от их возможностей и уровня
          дохода, могли позволить себе качественное лечение зубов в любое время.
          <br><br>
          Мы заботимся о Вас!
        </div>
        <div class="spec__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="spec__grade">
          <div class="spec__grade-num">
            4,8
          </div>
          <div class="spec__grade-star-outer">
            <img class="spec__grade-star" src="img/green-star.svg" alt="img">
            <img class="spec__grade-star" src="img/green-star.svg" alt="img">
            <img class="spec__grade-star" src="img/green-star.svg" alt="img">
            <img class="spec__grade-star" src="img/green-star.svg" alt="img">
            <img class="spec__grade-star" src="img/green-star.svg" alt="img">
          </div>
          <div class="spec__grade-text">
            46 отзывов
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
