<section class="spec-cert">
  <div class="container">
    <div class="spec-cert__inner">
      <h3 class="spec-cert__title title">
        СЕРТИФИКАТЫ И ГРАМОТЫ
      </h3>
      <div class="spec-cert__subtitle subtitle">
        Особые награды специалиста
      </div>
      <div class="spec-cert__slider-outer">
        <div class="spec-cert__slider swiper-container">
          <div class="spec-cert__slider-wrapper swiper-wrapper">
            <div class="spec-cert__slider-slide swiper-slide">
              <div class="spec-cert__slider-inner">
                <div class="spec-cert__info">
                  <div class="spec-cert__info-title">
                    Cертификат международного образца
                  </div>
                  <div class="spec-cert__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                  <div class="spec-cert__info-img-date">
                    <div class="spec-cert__info-img-outer">
                      <img class="spec-cert__info-img" src="img/3m-espe.png" alt="img">
                    </div>
                    <div class="date">
                      24 июля 2016 г.
                    </div>
                  </div>
                </div>
                <a class="spec-cert__img-outer" href='img/spec-cert-1.jpg' data-fancybox>
                  <img class="spec-cert__img" src="img/spec-cert-1.jpg" alt="img">
                </a>
              </div>
            </div>
            <div class="spec-cert__slider-slide swiper-slide">
              <div class="spec-cert__slider-inner">
                <div class="spec-cert__info">
                  <div class="spec-cert__info-title">
                    Cертификат международного образца
                  </div>
                  <div class="spec-cert__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                  <div class="spec-cert__info-img-date">
                    <div class="spec-cert__info-img-outer">
                      <img class="spec-cert__info-img" src="img/3m-espe.png" alt="img">
                    </div>
                    <div class="date">
                      24 июля 2016 г.
                    </div>
                  </div>
                </div>
                <div class="spec-cert__img-outer">
                  <img class="spec-cert__img" src="img/spec-cert-1.jpg" alt="img">
                </div>
              </div>
            </div>
            <div class="spec-cert__slider-slide swiper-slide">
              <div class="spec-cert__slider-inner">
                <div class="spec-cert__info">
                  <div class="spec-cert__info-title">
                    Cертификат международного образца
                  </div>
                  <div class="spec-cert__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                  <div class="spec-cert__info-img-date">
                    <div class="spec-cert__info-img-outer">
                      <img class="spec-cert__info-img" src="img/3m-espe.png" alt="img">
                    </div>
                    <div class="date">
                      24 июля 2016 г.
                    </div>
                  </div>
                </div>
                <div class="spec-cert__img-outer">
                  <img class="spec-cert__img" src="img/spec-cert-1.jpg" alt="img">
                </div>
              </div>
            </div>
          </div>
          <div class="spec-cert__slider-navigation">
            <div class="spec-cert__slider-arrow spec-cert__slider-arrow-prev swiper-button-prev">
              <img class="spec-cert__slider-arrow-img" src='img/slider-arrow-prev.svg' alt='img'>
            </div>
            <div class="spec-cert__slider-fraction"></div>
            <div class="spec-cert__slider-arrow spec-cert__slider-arrow-next swiper-button-next">
              <img class="spec-cert__slider-arrow-img" src='img/slider-arrow-next.svg' alt='img'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
