<section class="spec-edu">
  <div class="container">
    <div class="spec-edu__inner">
      <h3 class="spec-edu__title title">
        ОБРАЗОВАНИЕ
      </h3>
      <div class="spec-edu__subtitle subtitle">
        Важная составляющая специалиста
      </div>
      <div class="spec-edu__card-outer">
        <div class="spec-edu__card circle">
          <div class="spec-edu__card-date">
            2018 г.
          </div>
          <div class="spec-edu__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </div>
        </div>
        <div class="spec-edu__card rect">
          <div class="spec-edu__card-date">
            2020 г.
          </div>
          <div class="spec-edu__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </div>
        </div>
        <div class="spec-edu__card rect">
          <div class="spec-edu__card-date">
            2021 г.
          </div>
          <div class="spec-edu__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </div>
        </div>
        <div class="spec-edu__card circle">
          <div class="spec-edu__card-date">
            2019 г.
          </div>
          <div class="spec-edu__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
