<section class="our-works spec-works">
  <div class="container">
    <div class="our-works__inner">
      <h3 class="our-works__title title">
        НАШИ РАБОТЫ
      </h3>
      <div class="our-works__subtitle subtitle">
        Ваша улыбка в надежных руках
      </div>
      <div class="our-works__info-slider">
        <div class="our-works__info">
          <div class="our-works__infoOne">
            <div class="our-works__infoOne-title">
              Безупречная работа специалиста для ваших здоровых зубов
            </div>
            <div class="our-works__infoOne-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing.
            </div>
          </div>
          <div class="our-works__infoTwo">
            <div class="our-works__infoTwo-suptitle">
              Имплантология
            </div>
            <div class="our-works__infoTwo-title">
              Восстановление эстетического вида  вашей улыбки
            </div>
            <div class="our-works__infoTwo-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
        <div class="our-works__slider-outer">
          <div class="our-works__slider-container swiper-container">
            <div class="our-works__slider-wrapper swiper-wrapper">
              <div class="our-works__slider-slide swiper-slide">
                <div class="our-works__img-outer">
                  <img class="our-works__img" src="img/spec-works-1.png" alt="img">
                </div>
              </div>
              <div class="our-works__slider-slide swiper-slide">
                <div class="our-works__img-outer">
                  <img class="our-works__img" src="img/our-works-1.png" alt="img">
                </div>
              </div>
              <div class="our-works__slider-slide swiper-slide">
                <div class="our-works__img-outer">
                  <img class="our-works__img" src="img/spec-works-1.png" alt="img">
                </div>
              </div>
              <div class="our-works__slider-slide swiper-slide">
                <div class="our-works__img-outer">
                  <img class="our-works__img" src="img/our-works-1.png" alt="img">
                </div>
              </div>
            </div>
            <div class="our-works__slider-pagination swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
