<section class="tile tileOne">
  <div class="container">
    <div class="tile__inner">
      <h3 class="tile__title title">
        ИНТЕРЬЕР КЛИНИКИ УЛ. СТАХАНОВСКАЯ
      </h3>
      <div class="tile__subtitle subtitle">
        Высококвалифицированные врачи с большим стажем и положительными отзывами
      </div>
    </div>
  </div>
  <div class="tile__gallery-body">
    <div class="tile__gallery-row">
      <a class="tile__gallery-video" href="video.mp4" data-fancybox>
        <img class="tile__gallery-video-img" src="img/gallery-video-1.jpg" alt="img">
      </a>
    </div>
    <div class="tile__gallery-imgs">
      <div class="tile__gallery-column">
        <div class="tile__gallery-row">
          <a class="tile__gallery-img-outer" href='img/gallery-page-1.jpg' data-fancybox>
            <img class="tile__gallery-img" src='img/gallery-page-1.jpg' alt='img'>
          </a>
          <a class="tile__gallery-img-outer" href='img/gallery-page-2.jpg' data-fancybox>
            <img class="tile__gallery-img" src='img/gallery-page-2.jpg' alt='img'>
          </a>
        </div>


        <div class="tile__gallery-row">
          <div class="tile__gallery-column">
            <a class="tile__gallery-img-outer" href='img/gallery-page-3.jpg' data-fancybox>
              <img class="tile__gallery-img" src='img/gallery-page-3.jpg' alt='img'>
            </a>
            <div class="tile__gallery-row">
              <a class="tile__gallery-img-outer" href='img/gallery-page-4.jpg' data-fancybox>
                <img class="tile__gallery-img" src='img/gallery-page-4.jpg' alt='img'>
              </a>
              <a class="tile__gallery-img-outer" href='img/gallery-page-5.jpg' data-fancybox>
                <img class="tile__gallery-img" src='img/gallery-page-5.jpg' alt='img'>
              </a>
            </div>
          </div>
          <div class="tile__gallery-column">
            <a class="tile__gallery-img-outer" href='img/gallery-page-6.jpg' data-fancybox>
              <img class="tile__gallery-img" src='img/gallery-page-6.jpg' alt='img'>
            </a>
            <a class="tile__gallery-img-outer" href='img/gallery-page-7.jpg' data-fancybox>
              <img class="tile__gallery-img" src='img/gallery-page-7.jpg' alt='img'>
            </a>
          </div>
        </div>

      </div>


      <div class="tile__gallery-column">
        <a class="tile__gallery-img-outer" href='img/gallery-page-8.jpg' data-fancybox>
          <img class="tile__gallery-img" src='img/gallery-page-8.jpg' alt='img'>
        </a>
        <a class="tile__gallery-img-outer" href='img/gallery-page-9.jpg' data-fancybox>
          <img class="tile__gallery-img" src='img/gallery-page-9.jpg' alt='img'>
        </a>
      </div>


      <div class="tile__gallery-column">
        <a class="tile__gallery-img-outer" href='img/gallery-page-10.jpg' data-fancybox>
          <img class="tile__gallery-img" src='img/gallery-page-10.jpg' alt='img'>
        </a>
        <a class="tile__gallery-img-outer" href='img/gallery-page-11.jpg' data-fancybox>
          <img class="tile__gallery-img" src='img/gallery-page-11.jpg' alt='img'>
        </a>
        <div class="tile__gallery-row">
          <a class="tile__gallery-img-outer" href='img/gallery-page-12.jpg' data-fancybox>
            <img class="tile__gallery-img" src='img/gallery-page-12.jpg' alt='img'>
          </a>
          <a class="tile__gallery-img-outer" href='img/gallery-page-13.jpg' data-fancybox>
            <img class="tile__gallery-img" src='img/gallery-page-13.jpg' alt='img'>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
