<section class="vacancy-form">
  <div class="container">
    <div class="vacancy-form__inner">
      <h3 class="vacancy-form__title title">
        НЕ НАШЛИ НЕОБХОДИМОЙ ВАКАНСИИ?
      </h3>
      <div class="vacancy-form__subtitle subtitle">
        Мы все равно будем рады вашему резюме и свяжемся с вами, как только возникнетнеобходимость
      </div>
      <h4 class="vacancy-form__form-title">
        ЗАПОЛНИТЕ ФОРМУ:
      </h4>
      <div class="vacancy-form__form-outer">
        <form action="#" class="vacancy-form__form">
          <input class="vacancy-form__input" type="text" placeholder="Имя и Фамилия">
          <input class="vacancy-form__input" type="text" placeholder="E-mail (example@gmail.com)">
          <input class="vacancy-form__input" type="text" placeholder="Желаемая должность (Должности)">
          <input class="vacancy-form__input" type="text" placeholder="Опыт (Не менее года)">
          <textarea class="vacancy-form__textarea" placeholder="Расскажите о себе и своих профессиональных навыках, предыдущем опыте...."></textarea>
          <div class="vacancy-form__input-button">
            <input class="vacancy-form__input" type="text" placeholder="Ваш телефон (8 999 999 99 99)">
            <button class="vacancy-form__button">ОСТАВИТЬ ЗАЯВКУ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
