<section class="vacancy">
  <div class="container">
    <div class="vacancy__inner">
      <h3 class="vacancy__title title">
        ОТКРЫТЫЕ ВАКАНСИИ В КЛИНИКЕ
      </h3>
      <div class="vacancy__subtitle subtitle">
        Мы постоянно расширяемся: если Вы не нашли нужную, свяжитесь с нами
      </div>
      <div class="vacancy__tab-outer">
        <div class="vacancy__tab-btn-outer">
          <button class="vacancy__tab-btn" data-vacancy-tab='#vacancy-tab-1'>Лечение зубов</button>
          <button class="vacancy__tab-btn" data-vacancy-tab='#vacancy-tab-2'>Протезирование</button>
          <button class="vacancy__tab-btn" data-vacancy-tab='#vacancy-tab-3'>Хирургия</button>
          <button class="vacancy__tab-btn" data-vacancy-tab='#vacancy-tab-4'>Имплантология</button>
          <button class="vacancy__tab-btn" data-vacancy-tab='#vacancy-tab-5'>Ортодонтия</button>
          <button class="vacancy__tab-btn" data-vacancy-tab='#vacancy-tab-6'>3D томография</button>
        </div>
        <div class="vacancy__tab-content-outer">
          <div class="vacancy__tab-content" id='vacancy-tab-1'>
            <div class="vacancy__info">
              <div class="vacancy__info-title">
                ЛЕЧЕНИЕ ЗУБОВ
              </div>
              <div class="vacancy__info-subtitle">
                Стоматолог-терапевт
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">КЛЮЧЕВЫЕ НАВЫКИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">ОБЯЗАННОСТИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <a class="vacancy__info-link" href='#'>Связаться</a>
            </div>
            <div class="vacancy__img-outer">
              <img class="vacancy__img" src="img/vacancy-tab-1.jpg" alt="img">
            </div>
          </div>
          <div class="vacancy__tab-content" id='vacancy-tab-2'>
            <div class="vacancy__info">
              <div class="vacancy__info-title">
                ПРОТЕЗИРОВАНИЕ
              </div>
              <div class="vacancy__info-subtitle">
                Стоматолог
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">КЛЮЧЕВЫЕ НАВЫКИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">ОБЯЗАННОСТИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <a class="vacancy__info-link" href='#'>Связаться</a>
            </div>
            <div class="vacancy__img-outer">
              <img class="vacancy__img" src="img/vacancy-tab-3.jpg" alt="img">
            </div>
          </div>
          <div class="vacancy__tab-content" id='vacancy-tab-3'>
            <div class="vacancy__info">
              <div class="vacancy__info-title">
                ХИРУРГИЯ
              </div>
              <div class="vacancy__info-subtitle">
                Хирург-имплантолог
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">КЛЮЧЕВЫЕ НАВЫКИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">ОБЯЗАННОСТИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <a class="vacancy__info-link" href='#'>Связаться</a>
            </div>
            <div class="vacancy__img-outer">
              <img class="vacancy__img" src="img/vacancy-tab-2.png" alt="img">
            </div>
          </div>
          <div class="vacancy__tab-content" id='vacancy-tab-4'>
            <div class="vacancy__info">
              <div class="vacancy__info-title">
                ИМПЛАНТОЛОГИЯ
              </div>
              <div class="vacancy__info-subtitle">
                Хирург-имплантолог
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">КЛЮЧЕВЫЕ НАВЫКИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">ОБЯЗАННОСТИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <a class="vacancy__info-link" href='#'>Связаться</a>
            </div>
            <div class="vacancy__img-outer">
              <img class="vacancy__img" src="img/vacancy-tab-4.png" alt="img">
            </div>
          </div>
          <div class="vacancy__tab-content" id='vacancy-tab-5'>
            <div class="vacancy__info">
              <div class="vacancy__info-title">
                ОРТОДОНТИЯ
              </div>
              <div class="vacancy__info-subtitle">
                Стоматолог-терапевт
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">КЛЮЧЕВЫЕ НАВЫКИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">ОБЯЗАННОСТИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <a class="vacancy__info-link" href='#'>Связаться</a>
            </div>
            <div class="vacancy__img-outer">
              <img class="vacancy__img" src="img/vacancy-tab-1.jpg" alt="img">
            </div>
          </div>
          <div class="vacancy__tab-content" id='vacancy-tab-6'>
            <div class="vacancy__info">
              <div class="vacancy__info-title">
                3D ТОМОГРАФИЯ
              </div>
              <div class="vacancy__info-subtitle">
                Стоматолог
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">КЛЮЧЕВЫЕ НАВЫКИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="vacancy__info-text">
                <span class="vacancy__info-text-span">ОБЯЗАННОСТИ: </span><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <a class="vacancy__info-link" href='#'>Связаться</a>
            </div>
            <div class="vacancy__img-outer">
              <img class="vacancy__img" src="img/vacancy-tab-5.png" alt="img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
